:root {
  // |=============== CONTAINER ===============>
  // |CM| Width and indents of the base container
  --content-width: 1280px;
  --container-offset: 14px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // |=============== FONT-FAMILY ===============>
  // |CM| Main font family
  --first-font-family: "Open Sans", system-ui;
  // |CM| Additional font families
  --second-font-family: "Playfair Display", "Times New Roman", "Times", serif;

  // |=============== COLOR ===============>
  // |CM| Change favorite color (Amethyst - 270)
  --hue-color: 270;
  // |CM| HSL color mode
  --first-color-mode: hsl(var(--hue-color) 83% 65%);
  --second-color-mode: hsl(var(--hue-color) 92% 79%);
  --third-color-mode: hsl(var(--hue-color) 54% 44%);
  --fourth-color-mode: hsl(var(--hue-color) 100% 97%);
  --fifth-color-mode: hsl(var(--hue-color) 100% 91%);
  // |CM| Other colors
  --first-other-color: hsl(25 100% 59%);
  --second-other-color: hsl(36 100% 68%);
  --third-other-color: hsl(14 86% 39%);
  --fourth-other-color: hsl(356 100% 71%);
  --fifth-other-color: hsl(83 78% 66%);
  --sixth-other-color: hsl(39 48% 68%);
  --seventh-other-color: hsl(0 0% 100%);
  --eighth-other-color: hsl(0 0% 97%);
  --ninth-other-color: hsl(0 0% 92%);
  --tenth-other-color: hsl(0 0% 60%);
  --eleventh-other-color: hsl(0 0% 40%);
  --twelfth-other-color: hsl(0 0% 20%);
  --thirteenth-other-color: hsl(0 0% 0% / 0.2);
  --fourteenth-other-color: hsl(108 100% 91%);
  --fifteenth-other-color: hsl(47 100% 91%);

  // |=============== FONT-WEIGHT ===============>
  // |CM| Different font weight options
  --first-font-weight: 600;
  --second-font-weight: 700;
  --third-font-weight: 900;

  // |=============== FONT-SIZE ===============>
  // |CM| Base font-size ( 0.5rem = 8px, 1rem = 16px, 1.5rem = 24px ...)
  --text-size-base: 16px;
  // |CM| Different font size options
  --text-size-min-medium: calc(var(--text-size-base) - 11px);
  --text-size-min-big: calc(var(--text-size-base) - 9px);
  --text-size-min-large: calc(var(--text-size-base) - 7px);
  --text-size-min-huge: calc(var(--text-size-base) - 6px);
  --text-size-tiny: calc(var(--text-size-base) - 4px);
  --text-size-small: calc(var(--text-size-base) - 2px);
  --text-size-medium: calc(var(--text-size-base) + 2px);
  --text-size-big: calc(var(--text-size-base) + 4px);
  --text-size-large: calc(var(--text-size-base) + 8px);
  --text-size-huge: calc(var(--text-size-base) + 16px);
  --text-size-max-tiny: calc(var(--text-size-base) + 20px);
  --text-size-max-small: calc(var(--text-size-base) + 32px);

  // |=============== BORDER-RADIUS ===============>
  // |CM| Various options for the border radius
  --first-br: 2px;
  --second-br: 10px;
  --third-br: 50%;

  // |=============== GAP ===============>
  // |CM| Different indentation options between elements
  --first-gap: 32px;
  --second-gap: 16px;

  // |=============== TRANSITION ===============>
  // |CM| Duration of effects (most effective 0.2 to 0.4s)
  --fast-transition-duration: 0.2s;
  --medium-transition-duration: 0.3s;
  --slow-transition-duration: 0.4s;
}
