<section class="product-information-section product-information-section_indent" aria-label="Вы находитесь в секции - информация о товаре">
  <h1 class="product-information-section__title">
    На этой странице можно узнать подробную информацию о товаре, а также посмотреть похожие товары
  </h1>
  <div class="container">
    <div class="product-information-section__first-inner">
      <div class="swiper swiper-large-images product-information-section__swiper-large-images">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <button class="swiper-large-images__button" type="button" aria-controls="" aria-expanded="false" aria-label="Открыть увеличенное изображение">
              <picture class="swiper-large-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-320.avif, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-320.webp, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-320.png, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-320@3x.png 3x" media="(max-width: 576px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-768.avif, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@3x.avif 3x" media="(max-width: 992px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-768.webp, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@3x.webp 3x" media="(max-width: 992px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-768.png, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-768@3x.png 3x" media="(max-width: 992px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024.avif, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024.webp, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024.png, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1024@3x.png 3x" media="(max-width: 1070px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920.avif, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920.webp, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@3x.webp 3x" type="image/webp">
                <img class="swiper-large-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-full-1920@3x.png 3x" width="624" height="245" decoding="async" loading="lazy" alt="Первое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide">
            <button class="swiper-large-images__button" type="button" aria-controls="" aria-expanded="false" aria-label="Открыть увеличенное изображение">
              <picture class="swiper-large-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-320.avif, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-320.webp, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-320.png, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-320@3x.png 3x" media="(max-width: 576px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-768.avif, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@3x.avif 3x" media="(max-width: 992px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-768.webp, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@3x.webp 3x" media="(max-width: 992px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-768.png, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-768@3x.png 3x" media="(max-width: 992px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024.avif, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024.webp, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024.png, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1024@3x.png 3x" media="(max-width: 1070px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920.avif, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920.webp, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@3x.webp 3x" type="image/webp">
                <img class="swiper-large-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-full-1920@3x.png 3x" width="495" height="245" decoding="async" loading="lazy" alt="Второе большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide">
            <button class="swiper-large-images__button" type="button" aria-controls="" aria-expanded="false" aria-label="Открыть увеличенное изображение">
              <picture class="swiper-large-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-320.avif, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-320.webp, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-320.png, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-320@3x.png 3x" media="(max-width: 576px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-768.avif, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@3x.avif 3x" media="(max-width: 992px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-768.webp, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@3x.webp 3x" media="(max-width: 992px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-768.png, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-768@3x.png 3x" media="(max-width: 992px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024.avif, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024.webp, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024.png, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1024@3x.png 3x" media="(max-width: 1070px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920.avif, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920.webp, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@3x.webp 3x" type="image/webp">
                <img class="swiper-large-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-full-1920@3x.png 3x" width="265" height="245" decoding="async" loading="lazy" alt="Третье большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide">
            <button class="swiper-large-images__button" type="button" aria-controls="" aria-expanded="false" aria-label="Открыть увеличенное изображение">
              <picture class="swiper-large-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-320.avif, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-320.webp, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-320.png, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-320@3x.png 3x" media="(max-width: 576px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-768.avif, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@3x.avif 3x" media="(max-width: 992px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-768.webp, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@3x.webp 3x" media="(max-width: 992px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-768.png, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-768@3x.png 3x" media="(max-width: 992px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024.avif, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024.webp, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024.png, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1024@3x.png 3x" media="(max-width: 1070px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920.avif, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920.webp, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@3x.webp 3x" type="image/webp">
                <img class="swiper-large-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-full-1920@3x.png 3x" width="538" height="245" decoding="async" loading="lazy" alt="Четвёртое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
          <li class="swiper-slide">
            <button class="swiper-large-images__button" type="button" aria-controls="" aria-expanded="false" aria-label="Открыть увеличенное изображение">
              <picture class="swiper-large-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-320.avif, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-320.webp, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-320.png, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-320@3x.png 3x" media="(max-width: 576px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-768.avif, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@3x.avif 3x" media="(max-width: 992px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-768.webp, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@3x.webp 3x" media="(max-width: 992px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-768.png, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-768@3x.png 3x" media="(max-width: 992px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024.avif, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024.webp, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024.png, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1024@3x.png 3x" media="(max-width: 1070px)">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920.avif, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920.webp, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@3x.webp 3x" type="image/webp">
                <img class="swiper-large-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-full-1920@3x.png 3x" width="551" height="245" decoding="async" loading="lazy" alt="Пятое большое изображение дивана тканевого прямого D-31">
              </picture>
            </button>
          </li>
        </ul>
      </div>
      <div class="product-information-section__swiper-box">
        <div class="swiper swiper-small-images product-information-section__swiper-small-images">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <picture class="swiper-small-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@3x.png 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@3x.png 3x" type="image/webp">
                <img class="swiper-small-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-1-mini-1920@3x.png 3x" width="155" height="61" decoding="async" loading="lazy" alt="Первое маленькое изображение дивана тканевого прямого D-31">
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="swiper-small-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@3x.png 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@3x.png 3x" type="image/webp">
                <img class="swiper-small-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-2-mini-1920@3x.png 3x" width="123" height="61" decoding="async" loading="lazy" alt="Второе маленькое изображение дивана тканевого прямого D-31">
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="swiper-small-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@3x.png 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@3x.png 3x" type="image/webp">
                <img class="swiper-small-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-3-mini-1920@3x.png 3x" width="66" height="61" decoding="async" loading="lazy" alt="Третье маленькое изображение дивана тканевого прямого D-31">
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="swiper-small-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@3x.png 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@3x.png 3x" type="image/webp">
                <img class="swiper-small-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-4-mini-1920@3x.png 3x" width="134" height="61" decoding="async" loading="lazy" alt="Четвёртое маленькое изображение дивана тканевого прямого D-31">
              </picture>
            </li>
            <li class="swiper-slide">
              <picture class="swiper-small-images__picture">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@3x.png 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920.png, img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@3x.png 3x" type="image/webp">
                <img class="swiper-small-images__image" src="img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920.png" srcset="img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@2x.png 2x, img/pictures/fr-sofa-fabric-straight-d-31-5-mini-1920@3x.png 3x" width="137" height="61" decoding="async" loading="lazy" alt="Пятое маленькое изображение дивана тканевого прямого D-31">
              </picture>
            </li>
          </ul>
        </div>
      </div>
      <div class="price-box product-information-section__price-box">
        <span class="product-rating price-box__product-rating">
          4,8
        </span>
        <h2 class="title price-box__title title_size_m title_lh_m">
          Диван тканевый прямой <span class="price-box__model-number">“D-31”</span>
        </h2>
        <p class="price-box__text">
          Мини 120&nbsp;см без ящика Stark синий (Рогожка)
        </p>
        <span class="price-box__price">
          28&nbsp;490 руб
        </span>
        <button class="button price-box__first-button button_fill" type="button" aria-controls="" aria-expanded="false">
          Купить в&nbsp;один клик
        </button>
        <button class="price-box__second-button" type="button">
          + Добавить в&nbsp;корзину
        </button>
      </div>
    </div>
    <div class="product-information-section__second-inner">
      <div class="product-feature product-information-section__product-feature">
        <h3 class="product-feature__title">
          Опорный механизм
        </h3>
        <p class="product-feature__first-text">
          Опорный механизм напоминает пантограф, к&nbsp;которому добавили дополнительную секцию. У&nbsp;опорного дивана сиденье &laquo;выпрыгивает&raquo; вперёд и&nbsp;вытаскивает вторую часть спального места. Заключительный штрих&nbsp;&mdash; опустить спинку.
        </p>
        <p class="product-feature__second-text">
          Этот механизм не&nbsp;портит пол и&nbsp;не&nbsp;боится ковров. Требуется чуть больше силы, чтобы разложить диван, но&nbsp;подросток справится.
        </p>
        <div class="product-feature__box-images">
          <picture class="product-feature__picture">
            <source srcset="img/pictures/fr-unfolding-sofa-1-320.avif, img/pictures/fr-unfolding-sofa-1-320@2x.avif 2x, img/pictures/fr-unfolding-sofa-1-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-1-320.webp, img/pictures/fr-unfolding-sofa-1-320@2x.webp 2x, img/pictures/fr-unfolding-sofa-1-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
            <source srcset="img/pictures/fr-unfolding-sofa-1-320.png, img/pictures/fr-unfolding-sofa-1-320@2x.png 2x, img/pictures/fr-unfolding-sofa-1-320@3x.png 3x" media="(max-width: 576px)">
            <source srcset="img/pictures/fr-unfolding-sofa-1-1024.avif, img/pictures/fr-unfolding-sofa-1-1024@2x.avif 2x, img/pictures/fr-unfolding-sofa-1-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-1-1024.webp, img/pictures/fr-unfolding-sofa-1-1024@2x.webp 2x, img/pictures/fr-unfolding-sofa-1-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
            <source srcset="img/pictures/fr-unfolding-sofa-1-1024.png, img/pictures/fr-unfolding-sofa-1-1024@2x.png 2x, img/pictures/fr-unfolding-sofa-1-1024@3x.png 3x" media="(max-width: 1070px)">
            <source srcset="img/pictures/fr-unfolding-sofa-1-1920.avif, img/pictures/fr-unfolding-sofa-1-1920@2x.avif 2x, img/pictures/fr-unfolding-sofa-1-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-1-1920.webp, img/pictures/fr-unfolding-sofa-1-1920@2x.webp 2x, img/pictures/fr-unfolding-sofa-1-1920@3x.webp 3x" type="image/webp">
            <img class="product-feature__image" src="img/pictures/fr-unfolding-sofa-1-1920.png" srcset="img/pictures/fr-unfolding-sofa-1-1920@2x.png 2x, img/pictures/fr-unfolding-sofa-1-1920@3x.png 3x" width="247" height="113" decoding="async" loading="lazy" alt="Первый этап раскладывания дивана D-31">
          </picture>
          <picture class="product-feature__picture">
            <source srcset="img/pictures/fr-unfolding-sofa-2-320.avif, img/pictures/fr-unfolding-sofa-2-320@2x.avif 2x, img/pictures/fr-unfolding-sofa-2-320@3x.avif 3x" media="(max-width: 576px)" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-2-320.webp, img/pictures/fr-unfolding-sofa-2-320@2x.webp 2x, img/pictures/fr-unfolding-sofa-2-320@3x.webp 3x" media="(max-width: 576px)" type="image/webp">
            <source srcset="img/pictures/fr-unfolding-sofa-2-320.png, img/pictures/fr-unfolding-sofa-2-320@2x.png 2x, img/pictures/fr-unfolding-sofa-2-320@3x.png 3x" media="(max-width: 576px)">
            <source srcset="img/pictures/fr-unfolding-sofa-2-1024.avif, img/pictures/fr-unfolding-sofa-2-1024@2x.avif 2x, img/pictures/fr-unfolding-sofa-2-1024@3x.avif 3x" media="(max-width: 1070px)" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-2-1024.webp, img/pictures/fr-unfolding-sofa-2-1024@2x.webp 2x, img/pictures/fr-unfolding-sofa-2-1024@3x.webp 3x" media="(max-width: 1070px)" type="image/webp">
            <source srcset="img/pictures/fr-unfolding-sofa-2-1024.png, img/pictures/fr-unfolding-sofa-2-1024@2x.png 2x, img/pictures/fr-unfolding-sofa-2-1024@3x.png 3x" media="(max-width: 1070px)">
            <source srcset="img/pictures/fr-unfolding-sofa-2-1920.avif, img/pictures/fr-unfolding-sofa-2-1920@2x.avif 2x, img/pictures/fr-unfolding-sofa-2-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-unfolding-sofa-2-1920.webp, img/pictures/fr-unfolding-sofa-2-1920@2x.webp 2x, img/pictures/fr-unfolding-sofa-2-1920@3x.webp 3x" type="image/webp">
            <img class="product-feature__image" src="img/pictures/fr-unfolding-sofa-2-1920.png" srcset="img/pictures/fr-unfolding-sofa-2-1920@2x.png 2x, img/pictures/fr-unfolding-sofa-2-1920@3x.png 3x" width="247" height="113" decoding="async" loading="lazy" alt="Второй этап раскладывания дивана D-31">
          </picture>
        </div>
      </div>
      <dl class="product-characteristic product-information-section__product-characteristic">
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Гарантия
            </span>
          </dt>
          <dd class="product-characteristic__value">
            18&nbsp;месяцев
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Артикул
            </span>
          </dt>
          <dd class="product-characteristic__value">
            AAA41269004
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Длина
            </span>
          </dt>
          <dd class="product-characteristic__value">
            163&nbsp;см
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Высота
            </span>
          </dt>
          <dd class="product-characteristic__value">
            90&nbsp;см
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Глубина
            </span>
          </dt>
          <dd class="product-characteristic__value">
            108&nbsp;см
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Спальное место
            </span>
          </dt>
          <dd class="product-characteristic__value">
            200&nbsp;см х&nbsp;125&nbsp;см
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Высота посадки
            </span>
          </dt>
          <dd class="product-characteristic__value">
            45&nbsp;см
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Механизм
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Опорный
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Тип обивки
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Рогожка
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Цвет
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Синий
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Наполнитель
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Независимый пружинный блок
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Материал каркаса
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Металл. рама с&nbsp;дерев. латами
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Количество мест
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Двухместные
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Категория
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Прямые тканевые диваны
          </dd>
        </div>
        <div class="product-characteristic__inner">
          <dt class="product-characteristic__key">
            <span class="product-characteristic__key-text">
              Возврат
            </span>
          </dt>
          <dd class="product-characteristic__value">
            Условия
          </dd>
        </div>
      </dl>
    </div>
  </div>
</section>
