<section class="similar-products-section" aria-label="Вы находитесь в секции - похожие товары">
  <div class="container">
    <div class="section-header section-header_indent">
      <h2 class="title section-header__title title_size_m title_lh_m">
        Похожие товары
      </h2>
      <div class="swiper-controls swiper-controls_first">
        <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
        <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper similar-products-section__swiper">
      <ul class="swiper-wrapper">
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,5
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-velour-sofa-r-85-320.avif, img/pictures/fr-velour-sofa-r-85-320@2x.avif 2x, img/pictures/fr-velour-sofa-r-85-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-r-85-320.webp, img/pictures/fr-velour-sofa-r-85-320@2x.webp 2x, img/pictures/fr-velour-sofa-r-85-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-velour-sofa-r-85-320.png, img/pictures/fr-velour-sofa-r-85-320@2x.png 2x, img/pictures/fr-velour-sofa-r-85-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-velour-sofa-r-85-1920.avif, img/pictures/fr-velour-sofa-r-85-1920@2x.avif 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-r-85-1920.webp, img/pictures/fr-velour-sofa-r-85-1920@2x.webp 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-velour-sofa-r-85-1920.png" srcset="img/pictures/fr-velour-sofa-r-85-1920@2x.png 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.png 3x" width="251" height="105" decoding="async" loading="lazy" alt="Диван велюровый R-85">
            </picture>
            <h3 class="title product-card__title title_size_m title_lh_m">
              Диван велюровый <span class="product-card__model-number">“R-85”</span>
            </h3>
            <span class="default-price product-card__default-price">
              34&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,6
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-flocked-sofa-h-58-320.avif, img/pictures/fr-flocked-sofa-h-58-320@2x.avif 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-h-58-320.webp, img/pictures/fr-flocked-sofa-h-58-320@2x.webp 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-flocked-sofa-h-58-320.png, img/pictures/fr-flocked-sofa-h-58-320@2x.png 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-flocked-sofa-h-58-1920.avif, img/pictures/fr-flocked-sofa-h-58-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-h-58-1920.webp, img/pictures/fr-flocked-sofa-h-58-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-flocked-sofa-h-58-1920.png" srcset="img/pictures/fr-flocked-sofa-h-58-1920@2x.png 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.png 3x" width="233" height="133" decoding="async" loading="lazy" alt="Диван флоковый H-58">
            </picture>
            <h3 class="title product-card__title title_size_m title_lh_m">
              Диван флоковый <span class="product-card__model-number">“H-58”</span>
            </h3>
            <span class="default-price product-card__default-price">
              23&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,5
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-velour-sofa-s-44-320.avif, img/pictures/fr-velour-sofa-s-44-320@2x.avif 2x, img/pictures/fr-velour-sofa-s-44-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-s-44-320.webp, img/pictures/fr-velour-sofa-s-44-320@2x.webp 2x, img/pictures/fr-velour-sofa-s-44-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-velour-sofa-s-44-320.png, img/pictures/fr-velour-sofa-s-44-320@2x.png 2x, img/pictures/fr-velour-sofa-s-44-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-velour-sofa-s-44-1920.avif, img/pictures/fr-velour-sofa-s-44-1920@2x.avif 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-s-44-1920.webp, img/pictures/fr-velour-sofa-s-44-1920@2x.webp 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-velour-sofa-s-44-1920.png" srcset="img/pictures/fr-velour-sofa-s-44-1920@2x.png 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.png 3x" width="272" height="105" decoding="async" loading="lazy" alt="Диван велюровый S-44">
            </picture>
            <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
              Диван велюровый <span class="product-card__model-number">“S-44”</span>
            </h3>
            <span class="default-price product-card__default-price">
              19&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,8
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-shinil-sofa-v-43-320.avif, img/pictures/fr-shinil-sofa-v-43-320@2x.avif 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-shinil-sofa-v-43-320.webp, img/pictures/fr-shinil-sofa-v-43-320@2x.webp 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-shinil-sofa-v-43-320.png, img/pictures/fr-shinil-sofa-v-43-320@2x.png 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-shinil-sofa-v-43-1920.avif, img/pictures/fr-shinil-sofa-v-43-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-shinil-sofa-v-43-1920.webp, img/pictures/fr-shinil-sofa-v-43-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-shinil-sofa-v-43-1920.png" srcset="img/pictures/fr-shinil-sofa-v-43-1920@2x.png 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.png 3x" width="266" height="130" decoding="async" loading="lazy" alt="Диван шиниловый V-43">
            </picture>
            <h3 class="title product-card__title title_size_m title_lh_m">
              Диван шиниловый <span class="product-card__model-number">“V-43”</span>
            </h3>
            <span class="default-price product-card__default-price">
              19&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,6
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-flocked-sofa-h-64-320.avif, img/pictures/fr-flocked-sofa-h-64-320@2x.avif 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-h-64-320.webp, img/pictures/fr-flocked-sofa-h-64-320@2x.webp 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-flocked-sofa-h-64-320.png, img/pictures/fr-flocked-sofa-h-64-320@2x.png 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-flocked-sofa-h-64-1920.avif, img/pictures/fr-flocked-sofa-h-64-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-h-64-1920.webp, img/pictures/fr-flocked-sofa-h-64-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-flocked-sofa-h-64-1920.png" srcset="img/pictures/fr-flocked-sofa-h-64-1920@2x.png 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.png 3x" width="251" height="130" decoding="async" loading="lazy" alt="Диван флоковый H-64">
            </picture>
            <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
              Диван флоковый <span class="product-card__model-number">“H-64”</span>
            </h3>
            <span class="default-price product-card__default-price">
              25&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,6
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-velour-sofa-u-58-320.avif, img/pictures/fr-velour-sofa-u-58-320@2x.avif 2x, img/pictures/fr-velour-sofa-u-58-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-u-58-320.webp, img/pictures/fr-velour-sofa-u-58-320@2x.webp 2x, img/pictures/fr-velour-sofa-u-58-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-velour-sofa-u-58-320.png, img/pictures/fr-velour-sofa-u-58-320@2x.png 2x, img/pictures/fr-velour-sofa-u-58-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-velour-sofa-u-58-1920.avif, img/pictures/fr-velour-sofa-u-58-1920@2x.avif 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-velour-sofa-u-58-1920.webp, img/pictures/fr-velour-sofa-u-58-1920@2x.webp 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-velour-sofa-u-58-1920.png" srcset="img/pictures/fr-velour-sofa-u-58-1920@2x.png 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.png 3x" width="269" height="92" decoding="async" loading="lazy" alt="Диван велюровый U-58">
            </picture>
            <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
              Диван велюровый <span class="product-card__model-number">“U-58”</span>
            </h3>
            <span class="default-price product-card__default-price">
              21&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,5
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-flocked-sofa-f-41-320.avif, img/pictures/fr-flocked-sofa-f-41-320@2x.avif 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-f-41-320.webp, img/pictures/fr-flocked-sofa-f-41-320@2x.webp 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-flocked-sofa-f-41-320.png, img/pictures/fr-flocked-sofa-f-41-320@2x.png 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-flocked-sofa-f-41-1920.avif, img/pictures/fr-flocked-sofa-f-41-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-flocked-sofa-f-41-1920.webp, img/pictures/fr-flocked-sofa-f-41-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-flocked-sofa-f-41-1920.png" srcset="img/pictures/fr-flocked-sofa-f-41-1920@2x.png 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.png 3x" width="263" height="106" decoding="async" loading="lazy" alt="Диван флоковый F-41">
            </picture>
            <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
              Диван флоковый <span class="product-card__model-number">“F-41”</span>
            </h3>
            <span class="default-price product-card__default-price">
              17&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="product-card swiper-slide">
          <article class="product-card__content">
            <span class="product-rating product-card__product-rating">
              4,4
            </span>
            <picture class="product-card__picture">
              <source srcset="img/pictures/fr-shinil-sofa-c-80-320.avif, img/pictures/fr-shinil-sofa-c-80-320@2x.avif 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
              <source srcset="img/pictures/fr-shinil-sofa-c-80-320.webp, img/pictures/fr-shinil-sofa-c-80-320@2x.webp 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
              <source srcset="img/pictures/fr-shinil-sofa-c-80-320.png, img/pictures/fr-shinil-sofa-c-80-320@2x.png 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.png 3x" media="(max-width: 36em)">
              <source srcset="img/pictures/fr-shinil-sofa-c-80-1920.avif, img/pictures/fr-shinil-sofa-c-80-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-shinil-sofa-c-80-1920.webp, img/pictures/fr-shinil-sofa-c-80-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.webp 3x" type="image/webp">
              <img class="product-card__image" src="img/pictures/fr-shinil-sofa-c-80-1920.png" srcset="img/pictures/fr-shinil-sofa-c-80-1920@2x.png 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.png 3x" width="227" height="130" decoding="async" loading="lazy" alt="Диван из шинила С-80">
            </picture>
            <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
              Диван из&nbsp;шинила <span class="product-card__model-number">“С-80”</span>
            </h3>
            <span class="default-price product-card__default-price">
              20&nbsp;990 руб
            </span>
            <a class="button product-card__button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
      </ul>
    </div>
    <div class="swiper-controls swiper-controls_second">
      <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
      <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>
