<header class="site-header site-header_indent-product-card">
  <div class="site-header__first-line">
    <div class="container site-header__container site-header__container_first">
      <a class="logo-sdp site-header__logo-sdp site-header__logo-sdp_line_first" href="./index.html" aria-label="На главную">
        <img class="logo-sdp__image" src="img/svg/logo-sdp.svg" width="187" height="27" decoding="async" loading="lazy" aria-hidden="true" alt="Логотип компании SitDownPls">
      </a>
      <div class="choosing-region site-header__choosing-region site-header__choosing-region_line_first">
        <label class="choosing-region__text" for="select-region">
          Ваш регион:
        </label>
        <select class="choosing-region__select" name="selectRegion" id="select-region">
          <option value="Москва">Москва</option>
          <option value="Казань">Казань</option>
          <option value="Уфа">Уфа</option>
          <option value="Пермь">Пермь</option>
        </select>
      </div>
      <a class="phone site-header__phone site-header__phone_line_first" href="tel:+74958854547">
        <svg class="phone__icon" width="22" height="22" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-phone" />
        </svg>
        +7 (495) 885-45-47
      </a>
      <nav class="additional-navigation site-header__additional-navigation site-header__additional-navigation_line_first" aria-label="Маленькая дополнительная">
        <ul class="additional-navigation__list">
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              О&nbsp;компании
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Гарантия и&nbsp;возврат
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Корпоративным клиентам
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Дизайн-решение
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="site-header__second-line">
    <div class="container site-header__container site-header__container_second">
      <div class="choosing-region site-header__choosing-region site-header__choosing-region_line_second">
        <label class="choosing-region__text" for="select-region">
          Ваш регион:
        </label>
        <select class="choosing-region__select" name="selectRegion" id="select-region">
          <option value="Москва">Москва</option>
          <option value="Казань">Казань</option>
          <option value="Уфа">Уфа</option>
          <option value="Пермь">Пермь</option>
        </select>
      </div>
      <a class="phone site-header__phone site-header__phone_line_second" href="tel:+74958854547">
        <svg class="phone__icon" width="22" height="22" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-phone" />
        </svg>
        +7 (495) 885-45-47
      </a>
      <nav class="additional-navigation site-header__additional-navigation site-header__additional-navigation_line_second" aria-label="Дополнительная">
        <ul class="additional-navigation__list">
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              О&nbsp;компании
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Гарантия и&nbsp;возврат
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Корпоративным клиентам
            </a>
          </li>
          <li class="additional-navigation__item">
            <a class="navigation-link additional-navigation__link" href="#">
              Дизайн-решение
            </a>
          </li>
        </ul>
      </nav>
      <button class="user-profile site-header__user-profile site-header__user-profile_line_second" type="button" aria-label="Посмотреть профиль">
        <svg class="user-profile__icon" width="26" height="28" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-user" />
        </svg>
      </button>
      <button class="shopping-cart site-header__shopping-cart site-header__shopping-cart_line_second" type="button" aria-label="Посмотреть корзину покупок" aria-describedby="amount-product">
        <span class="shopping-cart__amount-product" id="amount-product">
          <span class="shopping-cart__sr-only">Количество товаров в корзине - </span>0
        </span>
        <svg class="shopping-cart__icon" width="30" height="28" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-cart" />
        </svg>
      </button>
    </div>
  </div>
  <div class="site-header__third-line">
    <div class="container site-header__container site-header__container_third">
      <button class="burger site-header__burger" type="button" aria-controls="navigation-menu" aria-expanded="false" aria-label="Открыть основное навигационное меню">
        <span class="burger__line burger__line_first" aria-hidden="true"></span>
        <span class="burger__line burger__line_second" aria-hidden="true"></span>
        <span class="burger__line burger__line_third" aria-hidden="true"></span>
      </button>
      <a class="logo-sdp site-header__logo-sdp site-header__logo-sdp_line_third" href="./index.html" aria-label="На главную">
        <img class="logo-sdp__image" src="img/svg/logo-sdp.svg" width="187" height="27" decoding="async" loading="lazy" aria-hidden="true" alt="Логотип компании SitDownPls">
      </a>
      <div class="site-header__navigation-menu" id="navigation-menu">
        <button class="close-navigation-menu site-header__close-navigation-menu" type="button" aria-controls="navigation-menu" aria-expanded="true" aria-label="Закрыть основное навигационное меню">
          <span class="close-navigation-menu__line close-navigation-menu__line_first" aria-hidden="true"></span>
          <span class="close-navigation-menu__line close-navigation-menu__line_second" aria-hidden="true"></span>
        </button>
        <nav class="primary-navigation site-header__primary-navigation" aria-label="Основная">
          <ul class="primary-navigation__list">
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="catalog.html">
                Каталог
              </a>
            </li>
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="#">
                Магазины
              </a>
            </li>
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="#">
                Шоу-рум
              </a>
            </li>
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="#">
                Доставка и&nbsp;оплата
              </a>
            </li>
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="#">
                Дисконт
              </a>
            </li>
            <li class="primary-navigation__item">
              <a class="primary-navigation__link" href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
        <nav class="additional-navigation site-header__additional-navigation site-header__additional-navigation_line_third" aria-label="Дополнительная">
          <ul class="additional-navigation__list">
            <li class="additional-navigation__item">
              <a class="navigation-link additional-navigation__link" href="#">
                О&nbsp;компании
              </a>
            </li>
            <li class="additional-navigation__item">
              <a class="navigation-link additional-navigation__link" href="#">
                Гарантия и&nbsp;возврат
              </a>
            </li>
            <li class="additional-navigation__item">
              <a class="navigation-link additional-navigation__link" href="#">
                Корпоративным клиентам
              </a>
            </li>
            <li class="additional-navigation__item">
              <a class="navigation-link additional-navigation__link" href="#">
                Дизайн-решение
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <button class="user-profile site-header__user-profile site-header__user-profile_line_third" type="button" aria-label="Посмотреть профиль">
        <svg class="user-profile__icon" width="26" height="28" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-user" />
        </svg>
      </button>
      <button class="shopping-cart site-header__shopping-cart site-header__shopping-cart_line_third" type="button" aria-label="Посмотреть корзину покупок" aria-describedby="amount-product">
        <span class="shopping-cart__amount-product" id="amount-product">
          <span class="shopping-cart__sr-only">Количество товаров в корзине - </span>0
        </span>
        <svg class="shopping-cart__icon" width="30" height="28" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-cart" />
        </svg>
      </button>
    </div>
  </div>
  <div class="container site-header__container site-header__container_fourth">
    <form class="search-form site-header__search-form" name="searchForm" action="#" method="get">
      <div class="search-form__wrapper">
        <input class="search-form__search-field" type="search" name="searchFormSearchField" placeholder="Я хочу купить..." translate="no" autocapitalize="off" autocorrect="false" autocomplete="off" spellcheck="false" enterkeyhint="search" aria-label="Введите название интересующего вас товара" required>
        <svg class="search-form__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-magnifier" />
        </svg>
        <button class="button-arrow-in-circle search-form__activate-search" type="submit" aria-label="Активировать поиск по товарам">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
      </div>
      <div class="choosing-category search-form__choosing-category">
        <select class="choosing-category__select" name="selectCategory" aria-label="Выберите категорию, в которой будет произведён поиск">
          <option value="">Категория</option>
          <option value="Диваны">Диваны</option>
          <option value="Комоды">Комоды</option>
          <option value="Кресла">Кресла</option>
          <option value="Стулья">Стулья</option>
          <option value="Пуфы">Пуфы</option>
          <option value="Столы">Столы</option>
          <option value="Кровати">Кровати</option>
          <option value="Аксессуары">Аксессуары</option>
          <option value="Тумбы">Тумбы</option>
        </select>
      </div>
    </form>
    <button class="user-profile site-header__user-profile site-header__user-profile_line_fourth" type="button" aria-label="Посмотреть профиль">
      <svg class="user-profile__icon" width="26" height="28" aria-hidden="true">
        <use xlink:href="img/sprites/sprite.svg#icon-user" />
      </svg>
    </button>
    <button class="shopping-cart site-header__shopping-cart site-header__shopping-cart_line_fourth" type="button" aria-label="Посмотреть корзину покупок" aria-describedby="amount-product">
      <span class="shopping-cart__amount-product" id="amount-product">
        <span class="shopping-cart__sr-only">Количество товаров в корзине - </span>0
      </span>
      <svg class="shopping-cart__icon" width="30" height="28" aria-hidden="true">
        <use xlink:href="img/sprites/sprite.svg#icon-cart" />
      </svg>
    </button>
  </div>
</header>
