.site-main {
  @include main-dereset;

  &_indent {
    margin-bottom: 69px;
  }

  &__section {
    margin-bottom: 70px;
  }

  &__container {
    margin-bottom: 32px;
  }

  &__wysiwyg {
    &:not(:last-of-type) {
      margin-bottom: 32px;
    }
  }
}
