// stylelint-disable order/order
// stylelint-disable selector-pseudo-class-no-unknown
.site-body {
  --scroll-size: 12px;

  @include margin-dereset;

  min-width: 320px;
  font-family: var(--first-font-family);
  text-rendering: optimizeLegibility;
  color: var(--twelfth-other-color);

  &::-webkit-scrollbar {
    width: var(--scroll-size);

    &:horizontal {
      height: var(--scroll-size);
    }
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--second-br);
    background-color: transparent;
  }

  @include pointer {
    text-rendering: optimizeSpeed;
  }

  &__preloader,
  &__dialog-window {
    position: fixed;
    inset: 0;
  }

  &.ui-scroll-visible {
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
      background-color: var(--ninth-other-color);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--first-color-mode);
    }
  }
}
