.swiper-dialog-small-images {
  max-width: 100%;

  &__slide {
    @include f-center;

    height: auto;
    cursor: pointer;
  }

  &__picture {
    display: block;
    font-size: 0;
  }

  &__image {
    @include img-dereset;

    @include bp-max-1070 {
      width: auto;
    }
  }
}
