<section class="advantages-section wysiwyg site-main__wysiwyg">
  <div class="container">
    <div class="wysiwyg__content">
      <h2>
        Ваши преимущества от сотрудничества
      </h2>
      <ol>
        <li>
          <h3>
            Возможность 1:
          </h3>
          <p>
            Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными, а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о людях в кадре, а мы поможем правильно выбрать мебель.
          </p>
        </li>
        <li>
          <h3>
            Возможность 2:
          </h3>
          <p>
            Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели. Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания, чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые взыскательные ожидания.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
