<section class="suppliers-section wysiwyg site-main__wysiwyg">
  <div class="container">
    <div class="wysiwyg__content">
      <h1>Сотрудничество</h1>
      <h2>Поставщикам</h2>
      <p>
        При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
      </p>
    </div>
  </div>
</section>
