<section class="what-you-get-section wysiwyg site-main__wysiwyg">
  <div class="container">
    <div class="wysiwyg__content">
      <h2>
        Что вы получаете?
      </h2>
      <ul>
        <li>
          <p>
            Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам. Выпускаемая нами продукция гармонично дополнит любой современный проект.
          </p>
        </li>
        <li>
          <p>
            Комплексное решение для красивого и функционального обустройства любых пространств.
          </p>
        </li>
        <li>
          <p>
            В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
