// stylelint-disable order/order
.breadcrumbs {
  &__list {
    @include list-enum-dereset;
    @include flex;

    gap: 16px;
  }

  &__item {
    @include zero-index;

    line-height: 0;

    &:last-child {
      color: var(--third-color-mode);
    }

    &:not(:last-child) {
      color: var(--tenth-other-color);

      &::before {
        content: "/";
        position: absolute;
        right: -12px;
        top: 50%;
        display: inline-block;
        font-size: var(--text-size-small);
        line-height: 1;
        color: var(--tenth-other-color);
        transform: translateY(-50%);
      }
    }
  }

  &__link {
    @include zero-index;

    display: inline-flex;
    outline: none;
    font-size: var(--text-size-small);
    line-height: 1;
    text-decoration: none;
    color: inherit;
    background-color: transparent;
    transition: color var(--medium-transition-duration) ease-in-out;

    &::before {
      @include focus-background-fill(-2px, -2px, -2px, -2px, var(--fifth-color-mode));

      content: "";
    }

    &[aria-current="location"] {
      @include button-disabled;
    }

    &.focus-visible {
      color: var(--third-color-mode);

      &::before {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }

    @include hover {
      &:hover {
        &:not(.focus-visible) {
          color: var(--second-color-mode);
        }
      }
    }

    &:active {
      &:not(.focus-visible) {
        color: var(--third-color-mode);
      }
    }
  }

  @include bp-max-576 {
    display: none;
  }
}
