<div class="dialog-window site-body__dialog-window" id="data-sent-dialog-window" role="dialog" tabindex="-1" aria-labelledby="data-sent-dialog-title" aria-modal="true" aria-hidden="true">
  <div class="dialog-window__overlay" data-a11y-dialog-hide></div>
  <div class="dialog-window__content data-sent" role="document">
    <button class="dialog-window-close dialog-window__close" type="button" aria-label="Закрыть диалоговое окно" data-a11y-dialog-hide>
      <span class="dialog-window-close__inner">
        <svg class="dialog-window-close__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-cross" />
        </svg>
      </span>
    </button>
    <img class="data-sent__image" src="img/svg/fv-elephant-orange-bg.svg" width="172" height="117" decoding="async" loading="lazy" aria-hidden="true" alt="Оранжевый слон">
    <h2 class="title data-sent__title title_size_l" id="data-sent-dialog-title">
      Спасибо, мы вам перезвоним!
    </h2>
  </div>
</div>
