<section class="callback-section" aria-label="Вы находитесь в секции - заказать обратный звонок">
  <div class="container">
    <div class="callback-section__inner">
      <div class="callback-section__content">
        <h2 class="title callback-section__title title_size_l">
          Мы всегда вам рады!
        </h2>
        <div class="callback-section__description">
          Безусловно, новая модель организационной деятельности в&nbsp;значительной степени обусловливает важность распределения внутренних резервов и&nbsp;ресурсов.
          <div class="tooltip">
            <button class="tooltip__button" type="button" aria-controls="tippy-1" aria-describedby="tippy-1" aria-label="Открыть всплывающую подсказку">
              <svg class="tooltip__icon" width="6" height="8" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-question" />
              </svg>
            </button>
          </div>
        </div>
        <form class="callback-form" name="callbackForm" action="#" method="get">
          <div class="callback-form__inner">
            <input class="form-field js-name-field" type="text" name="callbackFormNameField" placeholder="Как вас зовут?" translate="no" autocapitalize="on" autocorrect="false" autocomplete="name" spellcheck="false" enterkeyhint="next" aria-label="Введите ваше имя" required>
          </div>
          <div class="callback-form__inner">
            <input class="form-field js-phone-field" type="tel" name="callbackFormPhoneField" placeholder="Ваш телефон" translate="no" autocapitalize="off" autocorrect="false" autocomplete="tel" spellcheck="false" enterkeyhint="next" aria-label="Введите номер вашего телефона" required>
          </div>
          <div class="callback-form__inner">
            <input class="form-field js-email-field" type="email" name="callbackFormEmailField" placeholder="Ваш e-mail" translate="no" autocapitalize="off" autocorrect="false" autocomplete="email" spellcheck="false" enterkeyhint="done" aria-label="Введите адрес электронной почты" required>
          </div>
          <button class="button callback-form__button button_fill" type="submit">
            Отправить
          </button>
          <div class="form-custom-checkbox callback-form__custom-checkbox">
            <input class="form-custom-checkbox__field" id="callback-form-checkbox-field" type="checkbox" name="callbackFormUserAgreement" value="yes" checked required>
            <label class="form-custom-checkbox__text" for="callback-form-checkbox-field">
              Принимаю
              <a class="form-custom-checkbox__link" href="#no-scrolling">
                пользовательское соглашение
              </a>
            </label>
          </div>
        </form>
      </div>
      <picture class="callback-section__picture">
        <source srcset="img/pictures/fr-purple-sofas-768.avif, img/pictures/fr-purple-sofas-768@2x.avif 2x, img/pictures/fr-purple-sofas-768@3x.avif 3x" media="(max-width: 51.875em)" type="image/avif">
        <source srcset="img/pictures/fr-purple-sofas-768.webp, img/pictures/fr-purple-sofas-768@2x.webp 2x, img/pictures/fr-purple-sofas-768@3x.webp 3x" media="(max-width: 51.875em)" type="image/webp">
        <source srcset="img/pictures/fr-purple-sofas-768.png, img/pictures/fr-purple-sofas-768@2x.png 2x, img/pictures/fr-purple-sofas-768@3x.png 3x" media="(max-width: 51.875em)">
        <source srcset="img/pictures/fr-purple-sofas-1024.avif, img/pictures/fr-purple-sofas-1024@2x.avif 2x, img/pictures/fr-purple-sofas-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
        <source srcset="img/pictures/fr-purple-sofas-1024.webp, img/pictures/fr-purple-sofas-1024@2x.webp 2x, img/pictures/fr-purple-sofas-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
        <source srcset="img/pictures/fr-purple-sofas-1024.png, img/pictures/fr-purple-sofas-1024@2x.png 2x, img/pictures/fr-purple-sofas-1024@3x.png 3x" media="(max-width: 66.875em)">
        <source srcset="img/pictures/fr-purple-sofas-1920.avif, img/pictures/fr-purple-sofas-1920@2x.avif 2x, img/pictures/fr-purple-sofas-1920@3x.avif 3x" type="image/avif">
        <source srcset="img/pictures/fr-purple-sofas-1920.webp, img/pictures/fr-purple-sofas-1920@2x.webp 2x, img/pictures/fr-purple-sofas-1920@3x.webp 3x" type="image/webp">
        <img class="callback-section__image" src="img/pictures/fr-purple-sofas-1920.png" srcset="img/pictures/fr-purple-sofas-1920@2x.png 2x, img/pictures/fr-purple-sofas-1920@3x.png 3x" width="624" height="383" decoding="async" loading="lazy" aria-hidden="true" alt="Фоновая иллюстрация">
      </picture>
    </div>
  </div>
</section>
