<section class="hero-section site-main__section" aria-label="Вы находитесь в главной секции - баннер">
  <h1 class="hero-section__title">
    Это главная страница интернет-магазина SitDownPls. На ней вы можете ознакомиться с различными товарами, а также действующими специальными предложениями.
  </h1>
  <div class="swiper hero-section__swiper">
    <ul class="swiper-wrapper hero-section__swiper-wrapper">
      <li class="swiper-slide hero-section__swiper-slide">
        <picture class="hero-section__picture">
          <source srcset="img/pictures/fr-red-sofa-320-bg.avif, img/pictures/fr-red-sofa-320-bg@2x.avif 2x, img/pictures/fr-red-sofa-320-bg@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
          <source srcset="img/pictures/fr-red-sofa-320-bg.webp, img/pictures/fr-red-sofa-320-bg@2x.webp 2x, img/pictures/fr-red-sofa-320-bg@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
          <source srcset="img/pictures/fr-red-sofa-320-bg.jpg, img/pictures/fr-red-sofa-320-bg@2x.jpg 2x, img/pictures/fr-red-sofa-320-bg@3x.jpg 3x" media="(max-width: 36em)">
          <source srcset="img/pictures/fr-red-sofa-768-bg.avif, img/pictures/fr-red-sofa-768-bg@2x.avif 2x, img/pictures/fr-red-sofa-768-bg@3x.avif 3x" media="(max-width: 51.875em)" type="image/avif">
          <source srcset="img/pictures/fr-red-sofa-768-bg.webp, img/pictures/fr-red-sofa-768-bg@2x.webp 2x, img/pictures/fr-red-sofa-768-bg@3x.webp 3x" media="(max-width: 51.875em)" type="image/webp">
          <source srcset="img/pictures/fr-red-sofa-768-bg.jpg, img/pictures/fr-red-sofa-768-bg@2x.jpg 2x, img/pictures/fr-red-sofa-768-bg@3x.jpg 3x" media="(max-width: 51.875em)">
          <source srcset="img/pictures/fr-red-sofa-1024-bg.avif, img/pictures/fr-red-sofa-1024-bg@2x.avif 2x, img/pictures/fr-red-sofa-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
          <source srcset="img/pictures/fr-red-sofa-1024-bg.webp, img/pictures/fr-red-sofa-1024-bg@2x.webp 2x, img/pictures/fr-red-sofa-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
          <source srcset="img/pictures/fr-red-sofa-1024-bg.jpg, img/pictures/fr-red-sofa-1024-bg@2x.jpg 2x, img/pictures/fr-red-sofa-1024-bg@3x.jpg 3x" media="(max-width: 66.875em)">
          <source srcset="img/pictures/fr-red-sofa-1920-bg.avif, img/pictures/fr-red-sofa-1920-bg@2x.avif 2x, img/pictures/fr-red-sofa-1920-bg@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-red-sofa-1920-bg.webp, img/pictures/fr-red-sofa-1920-bg@2x.webp 2x, img/pictures/fr-red-sofa-1920-bg@3x.webp 3x" type="image/webp">
          <img class="hero-section__image" src="img/pictures/fr-red-sofa-1920-bg.jpg" srcset="img/pictures/fr-red-sofa-1920-bg@2x.jpg 2x, img/pictures/fr-red-sofa-1920-bg@3x.jpg 3x" width="1920" height="400" decoding="async" loading="lazy" aria-hidden="true" alt="Фоновая картинка - 1">
        </picture>
        <div class="container">
          <h2 class="hero-section__subtitle hero-section__subtitle_first">
            Скидка&nbsp;15% на&nbsp;первую покупку
          </h2>
          <button class="button hero-section__button hero-section__button_first button_fill" type="button">
            Получить!
          </button>
        </div>
      </li>
      <li class="swiper-slide hero-section__swiper-slide">
        <picture class="hero-section__picture">
          <source srcset="img/pictures/fr-potted-plant-320-bg.avif, img/pictures/fr-potted-plant-320-bg@2x.avif 2x, img/pictures/fr-potted-plant-320-bg@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
          <source srcset="img/pictures/fr-potted-plant-320-bg.webp, img/pictures/fr-potted-plant-320-bg@2x.webp 2x, img/pictures/fr-potted-plant-320-bg@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
          <source srcset="img/pictures/fr-potted-plant-320-bg.jpg, img/pictures/fr-potted-plant-320-bg@2x.jpg 2x, img/pictures/fr-potted-plant-320-bg@3x.jpg 3x" media="(max-width: 36em)">
          <source srcset="img/pictures/fr-potted-plant-768-bg.avif, img/pictures/fr-potted-plant-768-bg@2x.avif 2x, img/pictures/fr-potted-plant-768-bg@3x.avif 3x" media="(max-width: 51.875em)" type="image/avif">
          <source srcset="img/pictures/fr-potted-plant-768-bg.webp, img/pictures/fr-potted-plant-768-bg@2x.webp 2x, img/pictures/fr-potted-plant-768-bg@3x.webp 3x" media="(max-width: 51.875em)" type="image/webp">
          <source srcset="img/pictures/fr-potted-plant-768-bg.jpg, img/pictures/fr-potted-plant-768-bg@2x.jpg 2x, img/pictures/fr-potted-plant-768-bg@3x.jpg 3x" media="(max-width: 51.875em)">
          <source srcset="img/pictures/fr-potted-plant-1024-bg.avif, img/pictures/fr-potted-plant-1024-bg@2x.avif 2x, img/pictures/fr-potted-plant-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
          <source srcset="img/pictures/fr-potted-plant-1024-bg.webp, img/pictures/fr-potted-plant-1024-bg@2x.webp 2x, img/pictures/fr-potted-plant-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
          <source srcset="img/pictures/fr-potted-plant-1024-bg.jpg, img/pictures/fr-potted-plant-1024-bg@2x.jpg 2x, img/pictures/fr-potted-plant-1024-bg@3x.jpg 3x" media="(max-width: 66.875em)">
          <source srcset="img/pictures/fr-potted-plant-1920-bg.avif, img/pictures/fr-potted-plant-1920-bg@2x.avif 2x, img/pictures/fr-potted-plant-1920-bg@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-potted-plant-1920-bg.webp, img/pictures/fr-potted-plant-1920-bg@2x.webp 2x, img/pictures/fr-potted-plant-1920-bg@3x.webp 3x" type="image/webp">
          <img class="hero-section__image" src="img/pictures/fr-potted-plant-1920-bg.jpg" srcset="img/pictures/fr-potted-plant-1920-bg@2x.jpg 2x, img/pictures/fr-potted-plant-1920-bg@3x.jpg 3x" width="1920" height="400" decoding="async" loading="lazy" aria-hidden="true" alt="Фоновая картинка - 2">
        </picture>
        <div class="container">
          <h2 class="hero-section__subtitle hero-section__subtitle_second">
            1000+ аксессуаров для дома
          </h2>
          <button class="button hero-section__button hero-section__button_first button_fill" type="button">
            Получить!
          </button>
        </div>
      </li>
      <li class="swiper-slide hero-section__swiper-slide">
        <picture class="hero-section__picture">
          <source srcset="img/pictures/fr-bright-textiles-320-bg.avif, img/pictures/fr-bright-textiles-320-bg@2x.avif 2x, img/pictures/fr-bright-textiles-320-bg@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
          <source srcset="img/pictures/fr-bright-textiles-320-bg.webp, img/pictures/fr-bright-textiles-320-bg@2x.webp 2x, img/pictures/fr-bright-textiles-320-bg@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
          <source srcset="img/pictures/fr-bright-textiles-320-bg.jpg, img/pictures/fr-bright-textiles-320-bg@2x.jpg 2x, img/pictures/fr-bright-textiles-320-bg@3x.jpg 3x" media="(max-width: 36em)">
          <source srcset="img/pictures/fr-bright-textiles-768-bg.avif, img/pictures/fr-bright-textiles-768-bg@2x.avif 2x, img/pictures/fr-bright-textiles-768-bg@3x.avif 3x" media="(max-width: 51.875em)" type="image/avif">
          <source srcset="img/pictures/fr-bright-textiles-768-bg.webp, img/pictures/fr-bright-textiles-768-bg@2x.webp 2x, img/pictures/fr-bright-textiles-768-bg@3x.webp 3x" media="(max-width: 51.875em)" type="image/webp">
          <source srcset="img/pictures/fr-bright-textiles-768-bg.jpg, img/pictures/fr-bright-textiles-768-bg@2x.jpg 2x, img/pictures/fr-bright-textiles-768-bg@3x.jpg 3x" media="(max-width: 51.875em)">
          <source srcset="img/pictures/fr-bright-textiles-1024-bg.avif, img/pictures/fr-bright-textiles-1024-bg@2x.avif 2x, img/pictures/fr-bright-textiles-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
          <source srcset="img/pictures/fr-bright-textiles-1024-bg.webp, img/pictures/fr-bright-textiles-1024-bg@2x.webp 2x, img/pictures/fr-bright-textiles-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
          <source srcset="img/pictures/fr-bright-textiles-1024-bg.jpg, img/pictures/fr-bright-textiles-1024-bg@2x.jpg 2x, img/pictures/fr-bright-textiles-1024-bg@3x.jpg 3x" media="(max-width: 66.875em)">
          <source srcset="img/pictures/fr-bright-textiles-1920-bg.avif, img/pictures/fr-bright-textiles-1920-bg@2x.avif 2x, img/pictures/fr-bright-textiles-1920-bg@3x.avif 3x" type="image/avif">
          <source srcset="img/pictures/fr-bright-textiles-1920-bg.webp, img/pictures/fr-bright-textiles-1920-bg@2x.webp 2x, img/pictures/fr-bright-textiles-1920-bg@3x.webp 3x" type="image/webp">
          <img class="hero-section__image" src="img/pictures/fr-bright-textiles-1920-bg.jpg" srcset="img/pictures/fr-bright-textiles-1920-bg@2x.jpg 2x, img/pictures/fr-bright-textiles-1920-bg@3x.jpg 3x" width="1920" height="400" decoding="async" loading="lazy" aria-hidden="true" alt="Фоновая картинка - 3">
        </picture>
        <div class="container">
          <h2 class="hero-section__subtitle hero-section__subtitle_third">
            Коллекция стильного и&nbsp;яркого текстиля
          </h2>
          <button class="button hero-section__button hero-section__button_first button_fill" type="button">
            Получить!
          </button>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination circular-pagination hero-section__swiper-pagination"></div>
  </div>
  <div class="container hero-section__container">
    <button class="button hero-section__button hero-section__button_second button_fill" type="button">
      Получить!
    </button>
  </div>
</section>
