<section class="high-rating-section section site-main__section" aria-label="Вы находитесь в секции - высокий рейтинг">
  <div class="container">
    <h2 class="title section__title title_size_l">
      Высокий рейтинг
    </h2>
    <ul class="high-rating-section__list">
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            5,0
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-leather-sofa-r-94-320.avif, img/pictures/fr-leather-sofa-r-94-320@2x.avif 2x, img/pictures/fr-leather-sofa-r-94-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-leather-sofa-r-94-320.webp, img/pictures/fr-leather-sofa-r-94-320@2x.webp 2x, img/pictures/fr-leather-sofa-r-94-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-leather-sofa-r-94-320.png, img/pictures/fr-leather-sofa-r-94-320@2x.png 2x, img/pictures/fr-leather-sofa-r-94-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-leather-sofa-r-94-1920.avif, img/pictures/fr-leather-sofa-r-94-1920@2x.avif 2x, img/pictures/fr-leather-sofa-r-94-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-leather-sofa-r-94-1920.webp, img/pictures/fr-leather-sofa-r-94-1920@2x.webp 2x, img/pictures/fr-leather-sofa-r-94-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-leather-sofa-r-94-1920.png" srcset="img/pictures/fr-leather-sofa-r-94-1920@2x.png 2x, img/pictures/fr-leather-sofa-r-94-1920@3x.png 3x" width="266" height="82" decoding="async" loading="lazy" alt="Диван кожаный R-94">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван кожаный <span class="product-card__model-number">“R-94”</span>
          </h3>
          <span class="default-price product-card__default-price">
            94&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,9
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-apartheid-sofa-t-75-320.avif, img/pictures/fr-apartheid-sofa-t-75-320@2x.avif 2x, img/pictures/fr-apartheid-sofa-t-75-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-apartheid-sofa-t-75-320.webp, img/pictures/fr-apartheid-sofa-t-75-320@2x.webp 2x, img/pictures/fr-apartheid-sofa-t-75-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-apartheid-sofa-t-75-320.png, img/pictures/fr-apartheid-sofa-t-75-320@2x.png 2x, img/pictures/fr-apartheid-sofa-t-75-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-apartheid-sofa-t-75-1920.avif, img/pictures/fr-apartheid-sofa-t-75-1920@2x.avif 2x, img/pictures/fr-apartheid-sofa-t-75-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-apartheid-sofa-t-75-1920.webp, img/pictures/fr-apartheid-sofa-t-75-1920@2x.webp 2x, img/pictures/fr-apartheid-sofa-t-75-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-apartheid-sofa-t-75-1920.png" srcset="img/pictures/fr-apartheid-sofa-t-75-1920@2x.png 2x, img/pictures/fr-apartheid-sofa-t-75-1920@3x.png 3x" width="261" height="101" decoding="async" loading="lazy" alt="Диван апартековый T-75">
          </picture>
          <h3 class="title product-card__title title_size_m title_lh_m">
            Диван апартековый <span class="product-card__model-number">“T-75”</span>
          </h3>
          <span class="default-price product-card__default-price">
            69&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,8
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-fabric-sofa-d-31-320.avif, img/pictures/fr-fabric-sofa-d-31-320@2x.avif 2x, img/pictures/fr-fabric-sofa-d-31-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-fabric-sofa-d-31-320.webp, img/pictures/fr-fabric-sofa-d-31-320@2x.webp 2x, img/pictures/fr-fabric-sofa-d-31-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-fabric-sofa-d-31-320.png, img/pictures/fr-fabric-sofa-d-31-320@2x.png 2x, img/pictures/fr-fabric-sofa-d-31-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-fabric-sofa-d-31-1920.avif, img/pictures/fr-fabric-sofa-d-31-1920@2x.avif 2x, img/pictures/fr-fabric-sofa-d-31-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-fabric-sofa-d-31-1920.webp, img/pictures/fr-fabric-sofa-d-31-1920@2x.webp 2x, img/pictures/fr-fabric-sofa-d-31-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-fabric-sofa-d-31-1920.png" srcset="img/pictures/fr-fabric-sofa-d-31-1920@2x.png 2x, img/pictures/fr-fabric-sofa-d-31-1920@3x.png 3x" width="262" height="103" decoding="async" loading="lazy" alt="Диван тканевый D-31">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван тканевый <span class="product-card__model-number">“D-31”</span>
          </h3>
          <span class="default-price product-card__default-price">
            28&nbsp;490 руб
          </span>
          <a class="button product-card__button button_stroke" href="pages/product-card.html">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,8
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-velour-sofa-y-68-320.avif, img/pictures/fr-velour-sofa-y-68-320@2x.avif 2x, img/pictures/fr-velour-sofa-y-68-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-y-68-320.webp, img/pictures/fr-velour-sofa-y-68-320@2x.webp 2x, img/pictures/fr-velour-sofa-y-68-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-velour-sofa-y-68-320.png, img/pictures/fr-velour-sofa-y-68-320@2x.png 2x, img/pictures/fr-velour-sofa-y-68-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-velour-sofa-y-68-1920.avif, img/pictures/fr-velour-sofa-y-68-1920@2x.avif 2x, img/pictures/fr-velour-sofa-y-68-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-y-68-1920.webp, img/pictures/fr-velour-sofa-y-68-1920@2x.webp 2x, img/pictures/fr-velour-sofa-y-68-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-velour-sofa-y-68-1920.png" srcset="img/pictures/fr-velour-sofa-y-68-1920@2x.png 2x, img/pictures/fr-velour-sofa-y-68-1920@3x.png 3x" width="257" height="125" decoding="async" loading="lazy" alt="Диван велюровый Y-68">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван велюровый <span class="product-card__model-number">“Y-68”</span>
          </h3>
          <span class="default-price product-card__default-price">
            22&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,8
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-shinil-sofa-w-95-320.avif, img/pictures/fr-shinil-sofa-w-95-320@2x.avif 2x, img/pictures/fr-shinil-sofa-w-95-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-w-95-320.webp, img/pictures/fr-shinil-sofa-w-95-320@2x.webp 2x, img/pictures/fr-shinil-sofa-w-95-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-shinil-sofa-w-95-320.png, img/pictures/fr-shinil-sofa-w-95-320@2x.png 2x, img/pictures/fr-shinil-sofa-w-95-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-shinil-sofa-w-95-1920.avif, img/pictures/fr-shinil-sofa-w-95-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-w-95-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-w-95-1920.webp, img/pictures/fr-shinil-sofa-w-95-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-w-95-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-shinil-sofa-w-95-1920.png" srcset="img/pictures/fr-shinil-sofa-w-95-1920@2x.png 2x, img/pictures/fr-shinil-sofa-w-95-1920@3x.png 3x" width="265" height="117" decoding="async" loading="lazy" alt="Диван из шинила W-95">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван из&nbsp;шинила <span class="product-card__model-number">“W-95”</span>
          </h3>
          <span class="default-price product-card__default-price">
            22&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,8
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-flocked-sofa-g-41-320.avif, img/pictures/fr-flocked-sofa-g-41-320@2x.avif 2x, img/pictures/fr-flocked-sofa-g-41-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-g-41-320.webp, img/pictures/fr-flocked-sofa-g-41-320@2x.webp 2x, img/pictures/fr-flocked-sofa-g-41-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-flocked-sofa-g-41-320.png, img/pictures/fr-flocked-sofa-g-41-320@2x.png 2x, img/pictures/fr-flocked-sofa-g-41-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-flocked-sofa-g-41-1920.avif, img/pictures/fr-flocked-sofa-g-41-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-g-41-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-g-41-1920.webp, img/pictures/fr-flocked-sofa-g-41-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-g-41-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-flocked-sofa-g-41-1920.png" srcset="img/pictures/fr-flocked-sofa-g-41-1920@2x.png 2x, img/pictures/fr-flocked-sofa-g-41-1920@3x.png 3x" width="271" height="117" decoding="async" loading="lazy" alt="Диван флоковый G-41">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван флоковый <span class="product-card__model-number">“G-41”</span>
          </h3>
          <span class="default-price product-card__default-price">
            17&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,8
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-shinil-sofa-v-43-320.avif, img/pictures/fr-shinil-sofa-v-43-320@2x.avif 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-v-43-320.webp, img/pictures/fr-shinil-sofa-v-43-320@2x.webp 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-shinil-sofa-v-43-320.png, img/pictures/fr-shinil-sofa-v-43-320@2x.png 2x, img/pictures/fr-shinil-sofa-v-43-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-shinil-sofa-v-43-1920.avif, img/pictures/fr-shinil-sofa-v-43-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-v-43-1920.webp, img/pictures/fr-shinil-sofa-v-43-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-shinil-sofa-v-43-1920.png" srcset="img/pictures/fr-shinil-sofa-v-43-1920@2x.png 2x, img/pictures/fr-shinil-sofa-v-43-1920@3x.png 3x" width="266" height="130" decoding="async" loading="lazy" alt="Диван шиниловый V-43">
          </picture>
          <h3 class="title product-card__title title_size_m title_lh_m">
            Диван шиниловый <span class="product-card__model-number">“V-43”</span>
          </h3>
          <span class="default-price product-card__default-price">
            19&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,7
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-velour-sofa-s-99-320.avif, img/pictures/fr-velour-sofa-s-99-320@2x.avif 2x, img/pictures/fr-velour-sofa-s-99-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-s-99-320.webp, img/pictures/fr-velour-sofa-s-99-320@2x.webp 2x, img/pictures/fr-velour-sofa-s-99-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-velour-sofa-s-99-320.png, img/pictures/fr-velour-sofa-s-99-320@2x.png 2x, img/pictures/fr-velour-sofa-s-99-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-velour-sofa-s-99-1920.avif, img/pictures/fr-velour-sofa-s-99-1920@2x.avif 2x, img/pictures/fr-velour-sofa-s-99-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-s-99-1920.webp, img/pictures/fr-velour-sofa-s-99-1920@2x.webp 2x, img/pictures/fr-velour-sofa-s-99-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-velour-sofa-s-99-1920.png" srcset="img/pictures/fr-velour-sofa-s-99-1920@2x.png 2x, img/pictures/fr-velour-sofa-s-99-1920@3x.png 3x" width="212" height="124" decoding="async" loading="lazy" alt="Диван велюровый S-99">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван велюровый <span class="product-card__model-number">“S-99”</span>
          </h3>
          <span class="default-price product-card__default-price">
            19&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,7
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-leatherette-sofa-f-85-320.avif, img/pictures/fr-leatherette-sofa-f-85-320@2x.avif 2x, img/pictures/fr-leatherette-sofa-f-85-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-leatherette-sofa-f-85-320.webp, img/pictures/fr-leatherette-sofa-f-85-320@2x.webp 2x, img/pictures/fr-leatherette-sofa-f-85-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-leatherette-sofa-f-85-320.png, img/pictures/fr-leatherette-sofa-f-85-320@2x.png 2x, img/pictures/fr-leatherette-sofa-f-85-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-leatherette-sofa-f-85-1920.avif, img/pictures/fr-leatherette-sofa-f-85-1920@2x.avif 2x, img/pictures/fr-leatherette-sofa-f-85-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-leatherette-sofa-f-85-1920.webp, img/pictures/fr-leatherette-sofa-f-85-1920@2x.webp 2x, img/pictures/fr-leatherette-sofa-f-85-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-leatherette-sofa-f-85-1920.png" srcset="img/pictures/fr-leatherette-sofa-f-85-1920@2x.png 2x, img/pictures/fr-leatherette-sofa-f-85-1920@3x.png 3x" width="262" height="125" decoding="async" loading="lazy" alt="Диван из кожзама F-85">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван из&nbsp;кожзама <span class="product-card__model-number">“F-85”</span>
          </h3>
          <span class="default-price product-card__default-price">
            26&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,6
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-flocked-sofa-h-64-320.avif, img/pictures/fr-flocked-sofa-h-64-320@2x.avif 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-h-64-320.webp, img/pictures/fr-flocked-sofa-h-64-320@2x.webp 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-flocked-sofa-h-64-320.png, img/pictures/fr-flocked-sofa-h-64-320@2x.png 2x, img/pictures/fr-flocked-sofa-h-64-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-flocked-sofa-h-64-1920.avif, img/pictures/fr-flocked-sofa-h-64-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-h-64-1920.webp, img/pictures/fr-flocked-sofa-h-64-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-flocked-sofa-h-64-1920.png" srcset="img/pictures/fr-flocked-sofa-h-64-1920@2x.png 2x, img/pictures/fr-flocked-sofa-h-64-1920@3x.png 3x" width="251" height="130" decoding="async" loading="lazy" alt="Диван флоковый H-64">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван флоковый <span class="product-card__model-number">“H-64”</span>
          </h3>
          <span class="default-price product-card__default-price">
            25&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,6
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-flocked-sofa-h-58-320.avif, img/pictures/fr-flocked-sofa-h-58-320@2x.avif 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-h-58-320.webp, img/pictures/fr-flocked-sofa-h-58-320@2x.webp 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-flocked-sofa-h-58-320.png, img/pictures/fr-flocked-sofa-h-58-320@2x.png 2x, img/pictures/fr-flocked-sofa-h-58-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-flocked-sofa-h-58-1920.avif, img/pictures/fr-flocked-sofa-h-58-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-h-58-1920.webp, img/pictures/fr-flocked-sofa-h-58-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-flocked-sofa-h-58-1920.png" srcset="img/pictures/fr-flocked-sofa-h-58-1920@2x.png 2x, img/pictures/fr-flocked-sofa-h-58-1920@3x.png 3x" width="233" height="133" decoding="async" loading="lazy" alt="Диван флоковый H-58">
          </picture>
          <h3 class="title product-card__title title_size_m title_lh_m">
            Диван флоковый <span class="product-card__model-number">“H-58”</span>
          </h3>
          <span class="default-price product-card__default-price">
            23&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,6
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-leatherette-sofa-r-43-320.avif, img/pictures/fr-leatherette-sofa-r-43-320@2x.avif 2x, img/pictures/fr-leatherette-sofa-r-43-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-leatherette-sofa-r-43-320.webp, img/pictures/fr-leatherette-sofa-r-43-320@2x.webp 2x, img/pictures/fr-leatherette-sofa-r-43-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-leatherette-sofa-r-43-320.png, img/pictures/fr-leatherette-sofa-r-43-320@2x.png 2x, img/pictures/fr-leatherette-sofa-r-43-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-leatherette-sofa-r-43-1920.avif, img/pictures/fr-leatherette-sofa-r-43-1920@2x.avif 2x, img/pictures/fr-leatherette-sofa-r-43-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-leatherette-sofa-r-43-1920.webp, img/pictures/fr-leatherette-sofa-r-43-1920@2x.webp 2x, img/pictures/fr-leatherette-sofa-r-43-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-leatherette-sofa-r-43-1920.png" srcset="img/pictures/fr-leatherette-sofa-r-43-1920@2x.png 2x, img/pictures/fr-leatherette-sofa-r-43-1920@3x.png 3x" width="271" height="105" decoding="async" loading="lazy" alt="Диван из кожзама R-43">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван из&nbsp;кожзама <span class="product-card__model-number">“R-43”</span>
          </h3>
          <span class="default-price product-card__default-price">
            33&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,6
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-shinil-sofa-c-42-320.avif, img/pictures/fr-shinil-sofa-c-42-320@2x.avif 2x, img/pictures/fr-shinil-sofa-c-42-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-c-42-320.webp, img/pictures/fr-shinil-sofa-c-42-320@2x.webp 2x, img/pictures/fr-shinil-sofa-c-42-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-shinil-sofa-c-42-320.png, img/pictures/fr-shinil-sofa-c-42-320@2x.png 2x, img/pictures/fr-shinil-sofa-c-42-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-shinil-sofa-c-42-1920.avif, img/pictures/fr-shinil-sofa-c-42-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-c-42-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-c-42-1920.webp, img/pictures/fr-shinil-sofa-c-42-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-c-42-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-shinil-sofa-c-42-1920.png" srcset="img/pictures/fr-shinil-sofa-c-42-1920@2x.png 2x, img/pictures/fr-shinil-sofa-c-42-1920@3x.png 3x" width="229" height="127" decoding="async" loading="lazy" alt="Диван из шинила С-42">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван из&nbsp;шинила <span class="product-card__model-number">“С-42”</span>
          </h3>
          <span class="default-price product-card__default-price">
            18&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,6
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-velour-sofa-u-58-320.avif, img/pictures/fr-velour-sofa-u-58-320@2x.avif 2x, img/pictures/fr-velour-sofa-u-58-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-u-58-320.webp, img/pictures/fr-velour-sofa-u-58-320@2x.webp 2x, img/pictures/fr-velour-sofa-u-58-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-velour-sofa-u-58-320.png, img/pictures/fr-velour-sofa-u-58-320@2x.png 2x, img/pictures/fr-velour-sofa-u-58-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-velour-sofa-u-58-1920.avif, img/pictures/fr-velour-sofa-u-58-1920@2x.avif 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-u-58-1920.webp, img/pictures/fr-velour-sofa-u-58-1920@2x.webp 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-velour-sofa-u-58-1920.png" srcset="img/pictures/fr-velour-sofa-u-58-1920@2x.png 2x, img/pictures/fr-velour-sofa-u-58-1920@3x.png 3x" width="269" height="92" decoding="async" loading="lazy" alt="Диван велюровый U-58">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван велюровый <span class="product-card__model-number">“U-58”</span>
          </h3>
          <span class="default-price product-card__default-price">
            21&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,5
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-flocked-sofa-f-41-320.avif, img/pictures/fr-flocked-sofa-f-41-320@2x.avif 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-f-41-320.webp, img/pictures/fr-flocked-sofa-f-41-320@2x.webp 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-flocked-sofa-f-41-320.png, img/pictures/fr-flocked-sofa-f-41-320@2x.png 2x, img/pictures/fr-flocked-sofa-f-41-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-flocked-sofa-f-41-1920.avif, img/pictures/fr-flocked-sofa-f-41-1920@2x.avif 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-flocked-sofa-f-41-1920.webp, img/pictures/fr-flocked-sofa-f-41-1920@2x.webp 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-flocked-sofa-f-41-1920.png" srcset="img/pictures/fr-flocked-sofa-f-41-1920@2x.png 2x, img/pictures/fr-flocked-sofa-f-41-1920@3x.png 3x" width="263" height="106" decoding="async" loading="lazy" alt="Диван флоковый F-41">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван флоковый <span class="product-card__model-number">“F-41”</span>
          </h3>
          <span class="default-price product-card__default-price">
            17&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,5
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-velour-sofa-r-85-320.avif, img/pictures/fr-velour-sofa-r-85-320@2x.avif 2x, img/pictures/fr-velour-sofa-r-85-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-r-85-320.webp, img/pictures/fr-velour-sofa-r-85-320@2x.webp 2x, img/pictures/fr-velour-sofa-r-85-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-velour-sofa-r-85-320.png, img/pictures/fr-velour-sofa-r-85-320@2x.png 2x, img/pictures/fr-velour-sofa-r-85-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-velour-sofa-r-85-1920.avif, img/pictures/fr-velour-sofa-r-85-1920@2x.avif 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-r-85-1920.webp, img/pictures/fr-velour-sofa-r-85-1920@2x.webp 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-velour-sofa-r-85-1920.png" srcset="img/pictures/fr-velour-sofa-r-85-1920@2x.png 2x, img/pictures/fr-velour-sofa-r-85-1920@3x.png 3x" width="251" height="105" decoding="async" loading="lazy" alt="Диван велюровый R-85">
          </picture>
          <h3 class="title product-card__title title_size_m title_lh_m">
            Диван велюровый <span class="product-card__model-number">“R-85”</span>
          </h3>
          <span class="default-price product-card__default-price">
            34&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,5
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-velour-sofa-s-44-320.avif, img/pictures/fr-velour-sofa-s-44-320@2x.avif 2x, img/pictures/fr-velour-sofa-s-44-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-s-44-320.webp, img/pictures/fr-velour-sofa-s-44-320@2x.webp 2x, img/pictures/fr-velour-sofa-s-44-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-velour-sofa-s-44-320.png, img/pictures/fr-velour-sofa-s-44-320@2x.png 2x, img/pictures/fr-velour-sofa-s-44-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-velour-sofa-s-44-1920.avif, img/pictures/fr-velour-sofa-s-44-1920@2x.avif 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-velour-sofa-s-44-1920.webp, img/pictures/fr-velour-sofa-s-44-1920@2x.webp 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-velour-sofa-s-44-1920.png" srcset="img/pictures/fr-velour-sofa-s-44-1920@2x.png 2x, img/pictures/fr-velour-sofa-s-44-1920@3x.png 3x" width="272" height="105" decoding="async" loading="lazy" alt="Диван велюровый S-44">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван велюровый <span class="product-card__model-number">“S-44”</span>
          </h3>
          <span class="default-price product-card__default-price">
            19&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
      <li class="product-card high-rating-section__product-card">
        <article class="product-card__content">
          <span class="product-rating product-card__product-rating">
            4,4
          </span>
          <picture class="product-card__picture">
            <source srcset="img/pictures/fr-shinil-sofa-c-80-320.avif, img/pictures/fr-shinil-sofa-c-80-320@2x.avif 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-c-80-320.webp, img/pictures/fr-shinil-sofa-c-80-320@2x.webp 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-shinil-sofa-c-80-320.png, img/pictures/fr-shinil-sofa-c-80-320@2x.png 2x, img/pictures/fr-shinil-sofa-c-80-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-shinil-sofa-c-80-1920.avif, img/pictures/fr-shinil-sofa-c-80-1920@2x.avif 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-shinil-sofa-c-80-1920.webp, img/pictures/fr-shinil-sofa-c-80-1920@2x.webp 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.webp 3x" type="image/webp">
            <img class="product-card__image" src="img/pictures/fr-shinil-sofa-c-80-1920.png" srcset="img/pictures/fr-shinil-sofa-c-80-1920@2x.png 2x, img/pictures/fr-shinil-sofa-c-80-1920@3x.png 3x" width="227" height="130" decoding="async" loading="lazy" alt="Диван из шинила С-80">
          </picture>
          <h3 class="title product-card__title product-card__title_size_min title_size_m title_lh_m">
            Диван из&nbsp;шинила <span class="product-card__model-number">“С-80”</span>
          </h3>
          <span class="default-price product-card__default-price">
            20&nbsp;990 руб
          </span>
          <a class="button product-card__button button_stroke" href="#no-scrolling">
            Купить
          </a>
        </article>
      </li>
    </ul>
    <button class="button high-rating-section__show-more button_fill" type="button">
      Смотреть больше товаров
    </button>
  </div>
</section>
