<footer class="site-footer">
  <h2 class="site-footer__title">
    Подвал сайта
  </h2>
  <div class="site-footer__first-line">
    <div class="container site-footer__container">
      <div class="site-footer__inner">
        <a class="logo-sdp site-footer__logo-sdp" href="#site-header" aria-label="Вы на главной странице. Перейти на верх сайта">
          <img class="logo-sdp__image" src="img/svg/logo-sdp.svg" width="187" height="27" decoding="async" loading="lazy" aria-hidden="true" alt="Логотип компании SitDownPls">
        </a>
        <nav class="socials" aria-label="Социальные сети">
          <ul class="socials__list">
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Фейсбук">
                <svg class="socials__icon" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites/sprite.svg#icon-facebook" />
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Вконтакте">
                <svg class="socials__icon" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites/sprite.svg#icon-vkontakte" />
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#" target="_blank" rel="noopener" aria-label="Страница компании в Инстаграм">
                <svg class="socials__icon" width="30" height="30" aria-hidden="true">
                  <use xlink:href="img/sprites/sprite.svg#icon-instagram" />
                </svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <nav class="site-footer__navigation" aria-label="Большая дополнительная">
        <ul class="site-footer__list">
          <li class="navigation-box site-footer__item">
            <h3 class="navigation-box__title">
              О&nbsp;нас
            </h3>
            <ul class="navigation-box__list">
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  О&nbsp;компании
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Блог
                </a>
              </li>
            </ul>
          </li>
          <li class="navigation-box site-footer__item">
            <h3 class="navigation-box__title">
              Услуги
            </h3>
            <ul class="navigation-box__list">
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Доставка
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Рассрочка и&nbsp;кредит
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Сборка и&nbsp;установка
                </a>
              </li>
            </ul>
          </li>
          <li class="navigation-box site-footer__item">
            <h3 class="navigation-box__title">
              Связь с&nbsp;нами
            </h3>
            <ul class="navigation-box__list">
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Обратная связь
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Контакты
                </a>
              </li>
            </ul>
          </li>
          <li class="navigation-box site-footer__item">
            <h3 class="navigation-box__title">
              Сотрудничество
            </h3>
            <ul class="navigation-box__list">
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="suppliers.html">
                  Поставщикам
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Оптовикам
                </a>
              </li>
              <li class="navigation-box__item">
                <a class="navigation-link navigation-box__link" href="#">
                  Карьера
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="site-footer__second-line">
    <span class="trademark">
      <span class="trademark__name">SDP&reg;</span> 2011-2021
    </span>
  </div>
</footer>
