<section class="special-offers-section site-main__section" aria-label="Вы находитесь в секции - специальные предложения">
  <div class="container">
    <div class="section-header section-header_indent">
      <h2 class="title section-header__title title_size_l">
        Специальные предложения
      </h2>
      <div class="swiper-controls swiper-controls_first">
        <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
        <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper swiper_indent swiper_rounding-corners">
      <ul class="swiper-wrapper">
        <li class="swiper-slide special-offer-card">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;9&nbsp;000
              </strong>
            </span>
            <picture class="special-offer-card__picture">
              <source srcset="img/pictures/fr-yellow-velour-armchair-1920.avif, img/pictures/fr-yellow-velour-armchair-1920@2x.avif 2x, img/pictures/fr-yellow-velour-armchair-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-yellow-velour-armchair-1920.webp, img/pictures/fr-yellow-velour-armchair-1920@2x.webp 2x, img/pictures/fr-yellow-velour-armchair-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image" src="img/pictures/fr-yellow-velour-armchair-1920.png" srcset="img/pictures/fr-yellow-velour-armchair-1920@2x.png 2x, img/pictures/fr-yellow-velour-armchair-1920@3x.png 3x" width="193" height="210" decoding="async" loading="lazy" alt="Кресло велюровое X-24">
            </picture>
            <h3 class="title special-offer-card__title title_size_m title_lh_m">
              Кресло велюровое “X-24”
            </h3>
            <div class="special-offer-card__prices">
              <ins class="new-price special-offer-card__new-price">
                15&nbsp;990 руб
              </ins>
              <del class="old-price">
                24&nbsp;990 руб
              </del>
            </div>
            <a class="button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="swiper-slide special-offer-card special-offer-card_size_l">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;10&nbsp;000
              </strong>
            </span>
            <picture class="special-offer-card__picture special-offer-card__picture_sofa special-offer-card__picture_indent-first">
              <source srcset="img/pictures/fr-sofa-fabric-beige-1024.avif, img/pictures/fr-sofa-fabric-beige-1024@2x.avif 2x, img/pictures/fr-sofa-fabric-beige-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
              <source srcset="img/pictures/fr-sofa-fabric-beige-1024.webp, img/pictures/fr-sofa-fabric-beige-1024@2x.webp 2x, img/pictures/fr-sofa-fabric-beige-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
              <source srcset="img/pictures/fr-sofa-fabric-beige-1024.png, img/pictures/fr-sofa-fabric-beige-1024@2x.png 2x, img/pictures/fr-sofa-fabric-beige-1024@3x.png 3x" media="(max-width: 66.875em)">
              <source srcset="img/pictures/fr-sofa-fabric-beige-1920.avif, img/pictures/fr-sofa-fabric-beige-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-beige-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-sofa-fabric-beige-1920.webp, img/pictures/fr-sofa-fabric-beige-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-beige-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image special-offer-card__image_sofa" src="img/pictures/fr-sofa-fabric-beige-1920.png" srcset="img/pictures/fr-sofa-fabric-beige-1920@2x.png 2x, img/pictures/fr-sofa-fabric-beige-1920@3x.png 3x" width="450" height="245" decoding="async" loading="lazy" alt="Диван тканевый Z-44">
            </picture>
            <div class="special-offer-card__inner">
              <div class="special-offer-card__box">
                <h3 class="title special-offer-card__title title_size_m title_lh_m">
                  Диван тканевый “Z-44”
                </h3>
                <div class="special-offer-card__prices">
                  <ins class="new-price special-offer-card__new-price">
                    22&nbsp;990 руб
                  </ins>
                  <del class="old-price">
                    32&nbsp;990 руб
                  </del>
                </div>
                <a class="button button_stroke" href="#no-scrolling">
                  Купить
                </a>
              </div>
              <picture class="special-offer-card__mini-picture">
                <source srcset="img/pictures/fr-sofa-fabric-beige-unfolding-1920.avif, img/pictures/fr-sofa-fabric-beige-unfolding-1920@2x.avif 2x, img/pictures/fr-sofa-fabric-beige-unfolding-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-fabric-beige-unfolding-1920.webp, img/pictures/fr-sofa-fabric-beige-unfolding-1920@2x.webp 2x, img/pictures/fr-sofa-fabric-beige-unfolding-1920@3x.webp 3x" type="image/webp">
                <img class="special-offer-card__image" src="img/pictures/fr-sofa-fabric-beige-unfolding-1920.png" srcset="img/pictures/fr-sofa-fabric-beige-unfolding-1920@2x.png, img/pictures/fr-sofa-fabric-beige-unfolding-1920@3x.png 3x" width="230" height="107" decoding="async" loading="lazy" alt="На картинке показано, как раскладывается диван тканевый Z-44">
              </picture>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offer-card">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;600
              </strong>
            </span>
            <picture class="special-offer-card__picture">
              <source srcset="img/pictures/fr-clock-1920.avif, img/pictures/fr-clock-1920@2x.avif 2x, img/pictures/fr-clock-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-clock-1920.webp, img/pictures/fr-clock-1920@2x.webp 2x, img/pictures/fr-clock-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image" src="img/pictures/fr-clock-1920.png" srcset="img/pictures/fr-clock-1920@2x.png 2x, img/pictures/fr-clock-1920@3x.png 3x" width="149" height="218" decoding="async" loading="lazy" alt="Будильник Quartz-23">
            </picture>
            <h3 class="title special-offer-card__title title_size_m title_lh_m">
              Будильник  “Quartz-23”
            </h3>
            <div class="special-offer-card__prices">
              <ins class="new-price special-offer-card__new-price">
                1&nbsp;290 руб
              </ins>
              <del class="old-price">
                1&nbsp;890 руб
              </del>
            </div>
            <a class="button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="swiper-slide special-offer-card">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;300
              </strong>
            </span>
            <picture class="special-offer-card__picture">
              <source srcset="img/pictures/fr-deer-sculpture-1920.avif, img/pictures/fr-deer-sculpture-1920@2x.avif 2x, img/pictures/fr-deer-sculpture-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-deer-sculpture-1920.webp, img/pictures/fr-deer-sculpture-1920@2x.webp 2x, img/pictures/fr-deer-sculpture-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image" src="img/pictures/fr-deer-sculpture-1920.png" srcset="img/pictures/fr-deer-sculpture-1920@2x.png 2x, img/pictures/fr-deer-sculpture-1920@3x.png 3x" width="117" height="210" decoding="async" loading="lazy" alt="Мини-скульптура Oh my deer">
            </picture>
            <h3 class="title special-offer-card__title title_size_m title_lh_m">
              Мини-скульптура “Oh&nbsp;my&nbsp;deer”
            </h3>
            <div class="special-offer-card__prices">
              <ins class="new-price special-offer-card__new-price">
                690 руб
              </ins>
              <del class="old-price">
                990 руб
              </del>
            </div>
            <a class="button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
        <li class="swiper-slide special-offer-card special-offer-card_size_l">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;10&nbsp;000
              </strong>
            </span>
            <picture class="special-offer-card__picture special-offer-card__picture_sofa special-offer-card__picture_indent-second">
              <source srcset="img/pictures/fr-sofa-flock-brown-1024.avif, img/pictures/fr-sofa-flock-brown-1024@2x.avif 2x, img/pictures/fr-sofa-flock-brown-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
              <source srcset="img/pictures/fr-sofa-flock-brown-1024.webp, img/pictures/fr-sofa-flock-brown-1024@2x.webp 2x, img/pictures/fr-sofa-flock-brown-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
              <source srcset="img/pictures/fr-sofa-flock-brown-1024.png, img/pictures/fr-sofa-flock-brown-1024@2x.png 2x, img/pictures/fr-sofa-flock-brown-1024@3x.png 3x" media="(max-width: 66.875em)">
              <source srcset="img/pictures/fr-sofa-flock-brown-1920.avif, img/pictures/fr-sofa-flock-brown-1920@2x.avif 2x, img/pictures/fr-sofa-flock-brown-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-sofa-flock-brown-1920.webp, img/pictures/fr-sofa-flock-brown-1920@2x.webp 2x, img/pictures/fr-sofa-flock-brown-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image special-offer-card__image_sofa" src="img/pictures/fr-sofa-flock-brown-1920.png" srcset="img/pictures/fr-sofa-flock-brown-1920@2x.png 2x, img/pictures/fr-sofa-flock-brown-1920@3x.png 3x" width="463" height="223" decoding="async" loading="lazy" alt="Диван вел-флок Z-85">
            </picture>
            <div class="special-offer-card__inner">
              <div class="special-offer-card__box">
                <h3 class="title special-offer-card__title title_size_m title_lh_m">
                  Диван вел-флок “Z-85”
                </h3>
                <div class="special-offer-card__prices">
                  <ins class="new-price special-offer-card__new-price">
                    22&nbsp;990 руб
                  </ins>
                  <del class="old-price">
                    32&nbsp;990 руб
                  </del>
                </div>
                <a class="button button_stroke" href="#no-scrolling">
                  Купить
                </a>
              </div>
              <picture class="special-offer-card__mini-picture">
                <source srcset="img/pictures/fr-sofa-flock-brown-unfolding-1920.avif, img/pictures/fr-sofa-flock-brown-unfolding-1920@2x.avif 2x, img/pictures/fr-sofa-flock-brown-unfolding-1920@3x.avif 3x" type="image/avif">
                <source srcset="img/pictures/fr-sofa-flock-brown-unfolding-1920.webp, img/pictures/fr-sofa-flock-brown-unfolding-1920@2x.webp 2x, img/pictures/fr-sofa-flock-brown-unfolding-1920@3x.webp 3x" type="image/webp">
                <img class="special-offer-card__image" src="img/pictures/fr-sofa-flock-brown-unfolding-1920.png" srcset="img/pictures/fr-sofa-flock-brown-unfolding-1920@2x.png 2x, img/pictures/fr-sofa-flock-brown-unfolding-1920@3x.png 3x" width="234" height="124" decoding="async" loading="lazy" alt="На картинке показано, как раскладывается диван вел-флок Z-85">
              </picture>
            </div>
          </article>
        </li>
        <li class="swiper-slide special-offer-card">
          <article class="special-offer-card__content">
            <span class="discount special-offer-card__discount">
              <strong class="discount__text">
                -&nbsp;700
              </strong>
            </span>
            <picture class="special-offer-card__picture">
              <source srcset="img/pictures/fr-device-1920.avif, img/pictures/fr-device-1920@2x.avif 2x, img/pictures/fr-device-1920@3x.avif 3x" type="image/avif">
              <source srcset="img/pictures/fr-device-1920.webp, img/pictures/fr-device-1920@2x.webp 2x, img/pictures/fr-device-1920@3x.webp 3x" type="image/webp">
              <img class="special-offer-card__image" src="img/pictures/fr-device-1920.png" srcset="img/pictures/fr-device-1920@2x.png 2x, img/pictures/fr-device-1920@3x.png 3x" width="183" height="218" decoding="async" loading="lazy" alt="Термометр + гидрометр H-18">
            </picture>
            <h3 class="title special-offer-card__title title_size_m title_lh_m">
              Термометр + гидрометр “H-18”
            </h3>
            <div class="special-offer-card__prices">
              <ins class="new-price special-offer-card__new-price">
                1&nbsp;390 руб
              </ins>
              <del class="old-price">
                2&nbsp;090 руб
              </del>
            </div>
            <a class="button button_stroke" href="#no-scrolling">
              Купить
            </a>
          </article>
        </li>
      </ul>
    </div>
    <div class="swiper-controls swiper-controls_second">
      <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
      <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>
