<section class="top-categories-section section site-main__section" aria-label="Вы находитесь в секции - топ категории">
  <div class="container">
    <h2 class="title section__title title_size_l">
      Топ категории
    </h2>
    <ul class="top-categories-section__list">
      <li class="category-card top-categories-section__category-card top-categories-section__category-card_sofas">
        <article class="category-card__content">
          <ul class="category-card__list category-card__list_sofas">
            <li class="category-card__item">
              <a class="category-card__link" href="#no-scrolling">Прямые</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link" href="#no-scrolling">Угловые</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link" href="#no-scrolling">Модульные</a>
            </li>
          </ul>
          <h3 class="title category-card__title category-card__title_sofas title_size_m title_lh_l">
            Диваны
          </h3>
          <picture class="category-card__picture category-card__picture_sofas">
            <source srcset="img/pictures/fr-sofas-320.avif, img/pictures/fr-sofas-320@2x.avif 2x, img/pictures/fr-sofas-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
            <source srcset="img/pictures/fr-sofas-320.webp, img/pictures/fr-sofas-320@2x.webp 2x, img/pictures/fr-sofas-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
            <source srcset="img/pictures/fr-sofas-576.png, img/pictures/fr-sofas-576@2x.png 2x, img/pictures/fr-sofas-576@3x.png 3x" media="(max-width: 20em)">
            <source srcset="img/pictures/fr-sofas-576.avif, img/pictures/fr-sofas-576@2x.avif 2x, img/pictures/fr-sofas-576@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-sofas-576.webp, img/pictures/fr-sofas-576@2x.webp 2x, img/pictures/fr-sofas-576@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-sofas-320.png, img/pictures/fr-sofas-320@2x.png 2x, img/pictures/fr-sofas-320@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-sofas-1920.avif, img/pictures/fr-sofas-1920@2x.avif 2x, img/pictures/fr-sofas-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-sofas-1920.webp, img/pictures/fr-sofas-1920@2x.webp 2x, img/pictures/fr-sofas-1920@3x.webp 3x" type="image/webp">
            <img class="category-card__image category-card__image_sofas" src="img/pictures/fr-sofas-1920.png" srcset="img/pictures/fr-sofas-1920@2x.png 2x, img/pictures/fr-sofas-1920@3x.png 3x" width="515" height="308" decoding="async" loading="lazy" alt="Белый диван с коричневыми ножками округлой формы">
          </picture>
          <a class="link-arrow-in-circle category-card__link-arrow-in-circle" href="pages/catalog.html">
            <span class="link-arrow-in-circle__text">
              В&nbsp;каталог
            </span>
            <span class="link-arrow-in-circle__icon">
              <svg class="link-arrow-in-circle__svg" width="7" height="10" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-thick-right-arrow" />
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="category-card top-categories-section__category-card top-categories-section__category-card_armchairs category-card_armchairs">
        <article class="category-card__content">
          <ul class="category-card__list category-card__list_armchairs">
            <li class="category-card__item">
              <a class="category-card__link category-card__link_armchairs" href="#no-scrolling">Мягкие</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link category-card__link_armchairs" href="#no-scrolling">Кресла-кровати</a>
            </li>
          </ul>
          <h3 class="title category-card__title category-card__title_armchairs title_size_m title_lh_l">
            Кресла
          </h3>
          <picture class="category-card__picture category-card__picture_armchairs">
            <source srcset="img/pictures/fr-armchairs-320.avif, img/pictures/fr-armchairs-320@2x.avif 2x, img/pictures/fr-armchairs-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
            <source srcset="img/pictures/fr-armchairs-320.webp, img/pictures/fr-armchairs-320@2x.webp 2x, img/pictures/fr-armchairs-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
            <source srcset="img/pictures/fr-armchairs-320.png, img/pictures/fr-armchairs-320@2x.png 2x, img/pictures/fr-armchairs-320@3x.png 3x" media="(max-width: 20em)">
            <source srcset="img/pictures/fr-armchairs-576.avif, img/pictures/fr-armchairs-576@2x.avif 2x, img/pictures/fr-armchairs-576@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-armchairs-576.webp, img/pictures/fr-armchairs-576@2x.webp 2x, img/pictures/fr-armchairs-576@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-armchairs-576.png, img/pictures/fr-armchairs-576@2x.png 2x, img/pictures/fr-armchairs-576@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-armchairs-1024.avif, img/pictures/fr-armchairs-1024@2x.avif 2x, img/pictures/fr-armchairs-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-armchairs-1024.webp, img/pictures/fr-armchairs-1024@2x.webp 2x, img/pictures/fr-armchairs-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-armchairs-1024.png, img/pictures/fr-armchairs-1024@2x.png 2x, img/pictures/fr-armchairs-1024@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-armchairs-1920.avif, img/pictures/fr-armchairs-1920@2x.avif 2x, img/pictures/fr-armchairs-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-armchairs-1920.webp, img/pictures/fr-armchairs-1920@2x.webp 2x, img/pictures/fr-armchairs-1920@3x.webp 3x" type="image/webp">
            <img class="category-card__image category-card__image_armchairs" src="img/pictures/fr-armchairs-1920.png" srcset="img/pictures/fr-armchairs-1920@2x.png 2x, img/pictures/fr-armchairs-1920@3x.png 3x" width="515" height="308" decoding="async" loading="lazy" alt="Два кресла. Одно белое, а другое серое. На сером также находится подушка">
          </picture>
          <a class="link-arrow-in-circle category-card__link-arrow-in-circle" href="pages/catalog.html">
            <span class="link-arrow-in-circle__text">
              В&nbsp;каталог
            </span>
            <span class="link-arrow-in-circle__icon">
              <svg class="link-arrow-in-circle__svg" width="7" height="10" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-thick-right-arrow" />
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="category-card top-categories-section__category-card top-categories-section__category-card_beds category-card_beds">
        <article class="category-card__content">
          <ul class="category-card__list category-card__list_beds">
            <li class="category-card__item">
              <a class="category-card__link category-card__link_beds" href="#no-scrolling">Односпальные</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link category-card__link_beds" href="#no-scrolling">Двуспальные</a>
            </li>
          </ul>
          <h3 class="title category-card__title category-card__title_beds title_size_m title_lh_l">
            Кровати
          </h3>
          <picture class="category-card__picture category-card__picture_beds">
            <source srcset="img/pictures/fr-beds-320.avif, img/pictures/fr-beds-320@2x.avif 2x, img/pictures/fr-beds-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
            <source srcset="img/pictures/fr-beds-320.webp, img/pictures/fr-beds-320@2x.webp 2x, img/pictures/fr-beds-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
            <source srcset="img/pictures/fr-beds-320.png, img/pictures/fr-beds-320@2x.png 2x, img/pictures/fr-beds-320@3x.png 3x" media="(max-width: 20em)">
            <source srcset="img/pictures/fr-beds-576.avif, img/pictures/fr-beds-576@2x.avif 2x, img/pictures/fr-beds-576@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-beds-576.webp, img/pictures/fr-beds-576@2x.webp 2x, img/pictures/fr-beds-576@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-beds-576.png, img/pictures/fr-beds-576@2x.png 2x, img/pictures/fr-beds-576@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-beds-1024.avif, img/pictures/fr-beds-1024@2x.avif 2x, img/pictures/fr-beds-1024@3x.avif 3x" media="(max-width: 51.875em)" type="image/avif">
            <source srcset="img/pictures/fr-beds-1024.webp, img/pictures/fr-beds-1024@2x.webp 2x, img/pictures/fr-beds-1024@3x.webp 3x" media="(max-width: 51.875em)" type="image/webp">
            <source srcset="img/pictures/fr-beds-1024.png, img/pictures/fr-beds-1024@2x.png 2x, img/pictures/fr-beds-1024@3x.png 3x" media="(max-width: 51.875em)">
            <source srcset="img/pictures/fr-beds-1024-2.avif, img/pictures/fr-beds-1024-2@2x.avif 2x, img/pictures/fr-beds-1024-2@3x.avif 3x" media="(max-width: 62em)" type="image/avif">
            <source srcset="img/pictures/fr-beds-1024-2.webp, img/pictures/fr-beds-1024-2@2x.webp 2x, img/pictures/fr-beds-1024-2@3x.webp 3x" media="(max-width: 62em)" type="image/webp">
            <source srcset="img/pictures/fr-beds-1024-2.png, img/pictures/fr-beds-1024-2@2x.png 2x, img/pictures/fr-beds-1024-2@3x.png 3x" media="(max-width: 62em)">
            <source srcset="img/pictures/fr-beds-1024.avif, img/pictures/fr-beds-1024@2x.avif 2x, img/pictures/fr-beds-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-beds-1024.webp, img/pictures/fr-beds-1024@2x.webp 2x, img/pictures/fr-beds-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-beds-1024.png, img/pictures/fr-beds-1024@2x.png 2x, img/pictures/fr-beds-1024@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-beds-1920.avif, img/pictures/fr-beds-1920@2x.avif 2x, img/pictures/fr-beds-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-beds-1920.webp, img/pictures/fr-beds-1920@2x.webp 2x, img/pictures/fr-beds-1920@3x.webp 3x" type="image/webp">
            <img class="category-card__image category-card__image_beds" src="img/pictures/fr-beds-1920.png" srcset="img/pictures/fr-beds-1920@2x.png 2x, img/pictures/fr-beds-1920@3x.png 3x" width="306" height="202" decoding="async" loading="lazy" alt="Кровать с каркасом чёрного цвета и с постельным бельем светлого цвета">
          </picture>
          <a class="link-arrow-in-circle category-card__link-arrow-in-circle" href="pages/catalog.html">
            <span class="link-arrow-in-circle__text">
              В&nbsp;каталог
            </span>
            <span class="link-arrow-in-circle__icon">
              <svg class="link-arrow-in-circle__svg" width="7" height="10" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-thick-right-arrow" />
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="category-card top-categories-section__category-card top-categories-section__category-card_curbstones category-card_curbstones">
        <article class="category-card__content">
          <ul class="category-card__list category-card__list_curbstones">
            <li class="category-card__item">
              <a class="category-card__link category-card__link_curbstones" href="#no-scrolling">Тумбы</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link category-card__link_curbstones" href="#no-scrolling">Комоды</a>
            </li>
          </ul>
          <h3 class="title category-card__title category-card__title_curbstones title_size_m title_lh_l">
            Тумбы и&nbsp;комоды
          </h3>
          <picture class="category-card__picture category-card__picture_curbstones">
            <source srcset="img/pictures/fr-curbstones-320.avif, img/pictures/fr-curbstones-320@2x.avif 2x, img/pictures/fr-curbstones-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
            <source srcset="img/pictures/fr-curbstones-320.webp, img/pictures/fr-curbstones-320@2x.webp 2x, img/pictures/fr-curbstones-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
            <source srcset="img/pictures/fr-curbstones-320.png, img/pictures/fr-curbstones-320@2x.png 2x, img/pictures/fr-curbstones-320@3x.png 3x" media="(max-width: 20em)">
            <source srcset="img/pictures/fr-curbstones-576.avif, img/pictures/fr-curbstones-576@2x.avif 2x, img/pictures/fr-curbstones-576@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-curbstones-576.webp, img/pictures/fr-curbstones-576@2x.webp 2x, img/pictures/fr-curbstones-576@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-curbstones-576.png, img/pictures/fr-curbstones-576@2x.png 2x, img/pictures/fr-curbstones-576@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-curbstones-1024.avif, img/pictures/fr-curbstones-1024@2x.avif 2x, img/pictures/fr-curbstones-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-curbstones-1024.webp, img/pictures/fr-curbstones-1024@2x.webp 2x, img/pictures/fr-curbstones-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-curbstones-1024.png, img/pictures/fr-curbstones-1024@2x.png 2x, img/pictures/fr-curbstones-1024@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-curbstones-1920.avif, img/pictures/fr-curbstones-1920@2x.avif 2x, img/pictures/fr-curbstones-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-curbstones-1920.webp, img/pictures/fr-curbstones-1920@2x.webp 2x, img/pictures/fr-curbstones-1920@3x.webp 3x" type="image/webp">
            <img class="category-card__image category-card__image_curbstones" src="img/pictures/fr-curbstones-1920.png" srcset="img/pictures/fr-curbstones-1920@2x.png 2x, img/pictures/fr-curbstones-1920@3x.png 3x" width="330" height="202" decoding="async" loading="lazy" alt="Комод светлого цвета с шестью ящиками">
          </picture>
          <a class="link-arrow-in-circle category-card__link-arrow-in-circle" href="pages/catalog.html">
            <span class="link-arrow-in-circle__text">
              В&nbsp;каталог
            </span>
            <span class="link-arrow-in-circle__icon">
              <svg class="link-arrow-in-circle__svg" width="7" height="10" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-thick-right-arrow" />
              </svg>
            </span>
          </a>
        </article>
      </li>
      <li class="category-card top-categories-section__category-card top-categories-section__category-card_chairs category-card_chairs">
        <article class="category-card__content">
          <ul class="category-card__list category-card__list_chairs">
            <li class="category-card__item">
              <a class="category-card__link category-card__link_chairs" href="#no-scrolling">Деревянные</a>
            </li>
            <li class="category-card__item">
              <a class="category-card__link category-card__link_chairs" href="#no-scrolling">Металлокаркас</a>
            </li>
          </ul>
          <h3 class="title category-card__title category-card__title_chairs title_size_m title_lh_l">
            Стулья
          </h3>
          <picture class="category-card__picture category-card__picture_chairs">
            <source srcset="img/pictures/fr-chairs-320.avif, img/pictures/fr-chairs-320@2x.avif 2x, img/pictures/fr-chairs-320@3x.avif 3x" media="(max-width: 20em)" type="image/avif">
            <source srcset="img/pictures/fr-chairs-320.webp, img/pictures/fr-chairs-320@2x.webp 2x, img/pictures/fr-chairs-320@3x.webp 3x" media="(max-width: 20em)" type="image/webp">
            <source srcset="img/pictures/fr-chairs-320.png, img/pictures/fr-chairs-320@2x.png 2x, img/pictures/fr-chairs-320@3x.png 3x" media="(max-width: 20em)">
            <source srcset="img/pictures/fr-chairs-576.avif, img/pictures/fr-chairs-576@2x.avif 2x, img/pictures/fr-chairs-576@3x.avif 3x" media="(max-width: 36em)" type="image/avif">
            <source srcset="img/pictures/fr-chairs-576.webp, img/pictures/fr-chairs-576@2x.webp 2x, img/pictures/fr-chairs-576@3x.webp 3x" media="(max-width: 36em)" type="image/webp">
            <source srcset="img/pictures/fr-chairs-576.png, img/pictures/fr-chairs-576@2x.png 2x, img/pictures/fr-chairs-576@3x.png 3x" media="(max-width: 36em)">
            <source srcset="img/pictures/fr-chairs-1024.avif, img/pictures/fr-chairs-1024@2x.avif 2x, img/pictures/fr-chairs-1024@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-chairs-1024.webp, img/pictures/fr-chairs-1024@2x.webp 2x, img/pictures/fr-chairs-1024@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-chairs-1024.png, img/pictures/fr-chairs-1024@2x.png 2x, img/pictures/fr-chairs-1024@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-chairs-1920.avif, img/pictures/fr-chairs-1920@2x.avif 2x, img/pictures/fr-chairs-1920@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-chairs-1920.webp, img/pictures/fr-chairs-1920@2x.webp 2x, img/pictures/fr-chairs-1920@3x.webp 3x" type="image/webp">
            <img class="category-card__image category-card__image_chairs" src="img/pictures/fr-chairs-1920.png" srcset="img/pictures/fr-chairs-1920@2x.png 2x, img/pictures/fr-chairs-1920@3x.png 3x" width="258" height="202" decoding="async" loading="lazy" alt="Два стула разной формы коричневого цвета">
          </picture>
          <a class="link-arrow-in-circle category-card__link-arrow-in-circle" href="pages/catalog.html">
            <span class="link-arrow-in-circle__text">
              В&nbsp;каталог
            </span>
            <span class="link-arrow-in-circle__icon">
              <svg class="link-arrow-in-circle__svg" width="7" height="10" aria-hidden="true">
                <use xlink:href="img/sprites/sprite.svg#icon-thick-right-arrow" />
              </svg>
            </span>
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
