<section class="useful-section site-main__section" aria-label="Вы находитесь в секции - полезное">
  <div class="container">
    <div class="section-header section-header_indent">
      <h2 class="title section-header__title title_size_l">
        Полезное
      </h2>
      <div class="swiper-controls swiper-controls_first">
        <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
        <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
          <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
            <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper swiper_indent swiper_rounding-corners">
      <ul class="swiper-wrapper">
        <li class="swiper-slide useful-card">
          <picture class="useful-card__picture">
            <source srcset="img/pictures/fr-brown-furniture-1024-bg.avif, img/pictures/fr-brown-furniture-1024-bg@2x.avif 2x, img/pictures/fr-brown-furniture-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-brown-furniture-1024-bg.webp, img/pictures/fr-brown-furniture-1024-bg@2x.webp 2x, img/pictures/fr-brown-furniture-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-brown-furniture-1024-bg.png, img/pictures/fr-brown-furniture-1024-bg@2x.png 2x, img/pictures/fr-brown-furniture-1024-bg@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-brown-furniture-1920-bg.avif, img/pictures/fr-brown-furniture-1920-bg@2x.avif 2x, img/pictures/fr-brown-furniture-1920-bg@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-brown-furniture-1920-bg.webp, img/pictures/fr-brown-furniture-1920-bg@2x.webp 2x, img/pictures/fr-brown-furniture-1920-bg@3x.webp 3x" type="image/webp">
            <img class="useful-card__image" src="img/pictures/fr-brown-furniture-1920-bg.png" srcset="img/pictures/fr-brown-furniture-1920-bg@2x.png 2x, img/pictures/fr-brown-furniture-1920-bg@3x.png 3x" width="624" height="426" decoding="async" loading="lazy" aria-hidden="true" alt="Полезная фоновая картинка - 1">
          </picture>
          <div class="useful-card__content">
            <h3 class="useful-card__title">
              И&nbsp;нет сомнений, что сделанные на&nbsp;базе интернет-аналитики выводы представляют собой не&nbsp;что иное?
            </h3>
            <a class="button useful-card__link button_stroke" href="#no-scrolling">
              Читать
            </a>
          </div>
        </li>
        <li class="swiper-slide useful-card">
          <picture class="useful-card__picture">
            <source srcset="img/pictures/fr-white-chair-with-table-1024-bg.avif, img/pictures/fr-white-chair-with-table-1024-bg@2x.avif 2x, img/pictures/fr-white-chair-with-table-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-white-chair-with-table-1024-bg.webp, img/pictures/fr-white-chair-with-table-1024-bg@2x.webp 2x, img/pictures/fr-white-chair-with-table-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-white-chair-with-table-1024-bg.png, img/pictures/fr-white-chair-with-table-1024-bg@2x.png 2x, img/pictures/fr-white-chair-with-table-1024-bg@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-white-chair-with-table-1920-bg.avif, img/pictures/fr-white-chair-with-table-1920-bg@2x.avif 2x, img/pictures/fr-white-chair-with-table-1920-bg@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-white-chair-with-table-1920-bg.webp, img/pictures/fr-white-chair-with-table-1920-bg@2x.webp 2x, img/pictures/fr-white-chair-with-table-1920-bg@3x.webp 3x" type="image/webp">
            <img class="useful-card__image" src="img/pictures/fr-white-chair-with-table-1920-bg.png" srcset="img/pictures/fr-white-chair-with-table-1920-bg@2x.png 2x, img/pictures/fr-white-chair-with-table-1920-bg@3x.png 3x" width="624" height="426" decoding="async" loading="lazy" aria-hidden="true" alt="Полезная фоновая картинка - 2">
          </picture>
          <div class="useful-card__content">
            <h3 class="useful-card__title">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <a class="button useful-card__link button_stroke" href="#no-scrolling">
              Читать
            </a>
          </div>
        </li>
        <li class="swiper-slide useful-card">
          <picture class="useful-card__picture">
            <source srcset="img/pictures/fr-plant-in-vase-1024-bg.avif, img/pictures/fr-plant-in-vase-1024-bg@2x.avif 2x, img/pictures/fr-plant-in-vase-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-plant-in-vase-1024-bg.webp, img/pictures/fr-plant-in-vase-1024-bg@2x.webp 2x, img/pictures/fr-plant-in-vase-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-plant-in-vase-1024-bg.png, img/pictures/fr-plant-in-vase-1024-bg@2x.png 2x, img/pictures/fr-plant-in-vase-1024-bg@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-plant-in-vase-1920-bg.avif, img/pictures/fr-plant-in-vase-1920-bg@2x.avif 2x, img/pictures/fr-plant-in-vase-1920-bg@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-plant-in-vase-1920-bg.webp, img/pictures/fr-plant-in-vase-1920-bg@2x.webp 2x, img/pictures/fr-plant-in-vase-1920-bg@3x.webp 3x" type="image/webp">
            <img class="useful-card__image" src="img/pictures/fr-plant-in-vase-1920-bg.png" srcset="img/pictures/fr-plant-in-vase-1920-bg@2x.png 2x, img/pictures/fr-plant-in-vase-1920-bg@3x.png 3x" width="624" height="426" decoding="async" loading="lazy" aria-hidden="true" alt="Полезная фоновая картинка - 3">
          </picture>
          <div class="useful-card__content">
            <h3 class="useful-card__title">
              Ясность нашей позиции очевидна: укрепление и&nbsp;развитие внутренней структуры?
            </h3>
            <a class="button useful-card__link button_stroke" href="#no-scrolling">
              Читать
            </a>
          </div>
        </li>
        <li class="swiper-slide useful-card">
          <picture class="useful-card__picture">
            <source srcset="img/pictures/fr-white-kitchen-1024-bg.avif, img/pictures/fr-white-kitchen-1024-bg@2x.avif 2x, img/pictures/fr-white-kitchen-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-white-kitchen-1024-bg.webp, img/pictures/fr-white-kitchen-1024-bg@2x.webp 2x, img/pictures/fr-white-kitchen-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-white-kitchen-1024-bg.png, img/pictures/fr-white-kitchen-1024-bg@2x.png 2x, img/pictures/fr-white-kitchen-1024-bg@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-white-kitchen-1920-bg.avif, img/pictures/fr-white-kitchen-1920-bg@2x.avif 2x, img/pictures/fr-white-kitchen-1920-bg@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-white-kitchen-1920-bg.webp, img/pictures/fr-white-kitchen-1920-bg@2x.webp 2x, img/pictures/fr-white-kitchen-1920-bg@3x.webp 3x" type="image/webp">
            <img class="useful-card__image" src="img/pictures/fr-white-kitchen-1920-bg.png" srcset="img/pictures/fr-white-kitchen-1920-bg@2x.png 2x, img/pictures/fr-white-kitchen-1920-bg@3x.png 3x" width="624" height="426" decoding="async" loading="lazy" aria-hidden="true" alt="Полезная фоновая картинка - 4">
          </picture>
          <div class="useful-card__content">
            <h3 class="useful-card__title">
              Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            </h3>
            <a class="button useful-card__link button_stroke" href="#no-scrolling">
              Читать
            </a>
          </div>
        </li>
        <li class="swiper-slide useful-card">
          <picture class="useful-card__picture">
            <source srcset="img/pictures/fr-white-table-1024-bg.avif, img/pictures/fr-white-table-1024-bg@2x.avif 2x, img/pictures/fr-white-table-1024-bg@3x.avif 3x" media="(max-width: 66.875em)" type="image/avif">
            <source srcset="img/pictures/fr-white-table-1024-bg.webp, img/pictures/fr-white-table-1024-bg@2x.webp 2x, img/pictures/fr-white-table-1024-bg@3x.webp 3x" media="(max-width: 66.875em)" type="image/webp">
            <source srcset="img/pictures/fr-white-table-1024-bg.png, img/pictures/fr-white-table-1024-bg@2x.png 2x, img/pictures/fr-white-table-1024-bg@3x.png 3x" media="(max-width: 66.875em)">
            <source srcset="img/pictures/fr-white-table-1920-bg.avif, img/pictures/fr-white-table-1920-bg@2x.avif 2x, img/pictures/fr-white-table-1920-bg@3x.avif 3x" type="image/avif">
            <source srcset="img/pictures/fr-white-table-1920-bg.webp, img/pictures/fr-white-table-1920-bg@2x.webp 2x, img/pictures/fr-white-table-1920-bg@3x.webp 3x" type="image/webp">
            <img class="useful-card__image" src="img/pictures/fr-white-table-1920-bg.png" srcset="img/pictures/fr-white-table-1920-bg@2x.png 2x, img/pictures/fr-white-table-1920-bg@3x.png 3x" width="624" height="426" decoding="async" loading="lazy" aria-hidden="true" alt="Полезная фоновая картинка - 5">
          </picture>
          <div class="useful-card__content">
            <h3 class="useful-card__title">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </h3>
            <a class="button useful-card__link button_stroke" href="#no-scrolling">
              Читать
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="swiper-controls swiper-controls_second">
      <button class="button-arrow-in-circle swiper-button-prev swiper-controls__button-prev" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_left" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
      <button class="button-arrow-in-circle swiper-button-next swiper-controls__button-next" type="button">
        <svg class="button-arrow-in-circle__icon button-arrow-in-circle__icon_direction_right" width="7" height="12" aria-hidden="true">
          <use xlink:href="img/sprites/sprite.svg#icon-thin-right-arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>
