// |=============== HERE WE DESCRIBE THE STYLES FOR ELEMENTS FROM THE UI KIT ===============>
.page {
  @include html-dereset;
}

.body {
  @include margin-dereset;

  min-width: 320px;
  font-family: var(--first-font-family);
  text-rendering: optimizeLegibility;
  color: var(--twelfth-other-color);

  @include pointer {
    text-rendering: optimizeSpeed;
  }
}

.site-main {
  @include main-dereset;

  &__section {
    margin-bottom: 70px;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--container-offset);
  padding-left: var(--container-offset);
  max-width: var(--container-width);

  @include bp-max-1070 {
    --content-width: 952px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  }

  @include bp-max-830 {
    --content-width: 624px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  }
}
